<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>系统日志 - 操作日志</title>
    <link href="../Content/Admin/css/bootstrap-cerulean.min.css" rel="stylesheet"/>
    <link href="../Content/Admin/css/charisma-app.css" rel="stylesheet"/>
    <link href="../Content/common.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../Content/layui-v2.5.4/layui/css/layui.css">
    <style type="text/css">
        body {
            overflow-y: scroll !important;
        }

        .list-inline li {
            margin: 5px 0;
        }
    </style>

</head>
<body class="backgroud">
<div id="content" class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-hand-right"></i> 你当前位置：系统日志 - 操作日志 </h2>
                    <div class="box-icon">
                        <a href="#" class="btn btn-round btn-default" onclick="history.go(0);">
                            <i class="glyphicon glyphicon-repeat"></i>
                        </a>
                        <a href="#" class="btn btn-minimize btn-round btn-default">
                            <i class="glyphicon glyphicon-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="box-content" style="overflow: hidden; display: block;">
                    <!--查询栏开始-->
                    <div class="alert alert-info">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <ul class="list-inline cursor-style">
                                    <li style="display: none">类型：</li>
                                    <li style="display: none">
                                        <select id="operatingName" class="form-control input-sm">
                                            <option value="全部">全部</option>
                                            <option value="登录">登录</option>
                                        </select>
                                    </li>
                                    <li>操作人：</li>
                                    <li>
                                        <input type="text" placeholder="请输入操作人" id="lname"
                                               class="form-control input-sm input-width-150"/>
                                    </li>
                                    <li>IP地址：</li>
                                    <li>
                                        <input type="text" placeholder="请输入IP地址" id="txtIP"
                                               class="form-control input-sm input-width-150"/>
                                    </li>
                                    <li>时间段：</li>
                                    <li>
                                        <input id="txtStartDate" class="input-width-150"
                                               type="text" readonly="readonly"
                                               placeholder="请输入开始时间" value=""/>&nbsp;至&nbsp;
                                        <input id="txtEndDate" class="input-width-150"
                                               type="text" readonly="readonly"
                                               placeholder="请输入结束时间" value=""/>
                                    </li>
                                    <li>操作信息：</li>
                                    <li>
                                        <input type="text" placeholder="请输入操作信息" id="oinfotext"
                                               class="form-control input-sm input-width-150"/>
                                    </li>
                                    <li>
                                        <a id="btnQuery" class="btn btn-outline-success search" href="#"><i
                                                class="glyphicon glyphicon-zoom-in icon-white"></i>查询</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--查询栏结束-->
                    <div class="row">
                        <div class="col-md-2" style="display: none">
                            <div id="DataTables_Table_0_length" class="dataTables_length">
                                <label>
                                    <select size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0"
                                            id="pagecount">
                                        <option value="10" selected="selected">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select> 条/页
                                </label>
                                <div class="dataTables_info" id="DataTables_Table_0_info">显示 1 至 10 共 10 条</div>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-bottom:5px; padding-top:5px; text-align:right;">

                        </div>
                    </div>
                    <!--table开始-->
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper table-center" role="grid">
                        <table id="layTable" lay-filter="test"></table>

                        <table style="display: none"
                               class="table table-striped table-bordered bootstrap-datatable datatable responsive dataTable"
                               id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                            <thead>
                            <tr role="row">
                                <th>操作时间</th>
                                <th>操作IP</th>
                                <th>操作人</th>
                                <th>类型</th>
                                <th>被操作人</th>
                                <th>操作信息</th>
                            </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all"></tbody>
                        </table>
                        <!--分页控件-->
                        <div class="row">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6">
                                <div class="dataTables_paginate paging_bootstrap pagination" style="float:right;">
                                    <ul class="pagination" id="pagin"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--table结束-->
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../Scripts/jquery-1.10.2.min.js"></script>
<script src="../Scripts/comm.js"></script>
<script src="../Content/laydate/laydate.js"></script>
<!--<script src="../Scripts/pagination.js"></script>-->
<script src="../Content/layui-v2.5.4/layui/layui.js"></script>
<script type="text/javascript">
    var pageObj = {};
    var postData = {};//搜索条件
    var table;
    layui.use('table', function () {
        table = layui.table;

        table.render({
            elem: '#layTable'
            , id: 'layTable'
            , url: qp_url + 'admin/Operationlog/GetActionLogs?token='+getStorage('token')
            , request: {
                pageName: 'pageIndex' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , response: { //res 即为原始返回的数据
                statusName: 'status',
                statusCode: 1,
            },
            parseData: function (res) {
                return {
                    "status": res.status, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析数据长度 ,需要数据库返回
                    "data": res.data.list //解析数据列表
                };
            }
            , page: {
                'theme': '#2D2D3C'
            } //开启分页
            , limits: [10, 20, 30, 50, 80, 100]
            , limit: 10
            , cellMinWidth: 100
            , cols: [[ //表头
                {field: 'operatingTime', title: '操作时间'}
                , {field: 'operatingIp', title: '操作IP'}
                , {field: 'operatingAccounts', title: '操作人'}
                , {field: 'objectAccounts', title: '被操作人'}
                , {field: 'remark', title: '操作信息'}
            ]]
            , done: function (res, curr, count) {
                $('th').css({'text-align': 'center'});
            }
        });
    });
    $(document).ready(function () {
        laydate.render({
            elem: '#txtStartDate'
            ,theme:'#00B4E5'
        });
        laydate.render({
            elem: '#txtEndDate'
            ,theme:'#00B4E5'
        });
    });
    $(document).on('click','#btnQuery',function () {
        AjaxSearch()
    });

    //搜索事件
    function AjaxSearch() {
        // var optype = $("#operatingName").val();//暂时不要了
        var lname = $("#lname").val().trim();
        var sDate = $("#txtStartDate").val().trim();
        var eDate = $("#txtEndDate").val().trim();
        var info = $("#oinfotext").val().trim();
        var ip = $("#txtIP").val().trim();
        // postData.optype = optype;
        if (sDate != "" && eDate != "") {
            if (StrToDateTime(eDate) < StrToDateTime(sDate)) {
                layer.alert("开始日期不能大于结束时间");
                return false;
            }
        }
        postData.lname = lname;
        postData.sDate = datetimeFormat(sDate,0);
        postData.eDate = datetimeFormat(eDate,1);
        postData.info = info;
        postData.ip = ip;
        table.reload('layTable',{
             where: postData
            , page: {
                curr: 1
            }
        })
    }

    function StrToDateTime(timestr) {
        var dt = new Date(timestr.replace("-", "/").replace("-", "/"));
        return dt;
    }
</script>
</body>
</html>
