<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>充值系统 - 充值记录</title>
    <link href="../Content/Admin/css/bootstrap-cerulean.min.css" rel="stylesheet"/>
    <link href="../Content/Admin/css/charisma-app.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../Content/layui-v2.5.4/layui/css/layui.css">
    <link href="../Content/common.css" rel="stylesheet"/>
    <style type="text/css">
        body {
            overflow-y: scroll !important;
        }
    </style>
</head>
<body class="backgroud">
<div id="content" class="main-content" style="display: none;" v-show="payTypeList">
    <div class="row">
        <div class="col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-hand-right"></i> 你当前位置：充值系统 - 充值记录 </h2>
                    <div class="box-icon">
                        <a href="#" class="btn btn-round btn-default" onclick="history.go(0);">
                            <i class="glyphicon glyphicon-repeat"></i>
                        </a>
                        <a href="#" class="btn btn-minimize btn-round btn-default">
                            <i class="glyphicon glyphicon-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <ul class="media nav nav-tabs" v-show="userID">
                    <li>
                        <a :href="'Account/AccountsInfo.html?param='+userID+'&curTab=0'" title="">基本信息</a>
                    </li>
                    <li style="display: none;">
                        <a :href="'Account/AccountsInfo.html?param='+userID+'&curTab=1'" title="">详细信息</a>
                    </li>
                    <li>
                        <a :href="'Account/AccountsInfo.html?param='+userID+'&curTab=2'" title="">财富信息</a>
                    </li>
                    <li>
                        <a :href="'Account/AccountsInfo.html?param='+userID+'&curTab=3'" title="">记录信息</a>
                    </li>
                    <li>
                        <a :href="'Account/RecordDrawInfoList.html?param='+userID+'&account='+ account"
                           title="">游戏记录</a>
                    </li>
                    <li class="active">
                        <!--                        <a :href="'ShareInfoList.html?param='+userID+'&account='+ account" title="">充值记录</a>-->
                        <a :href="'chongZhiJiLu.html?param='+userID+'&account='+ account" title="">充值记录</a>
                    </li>
                    <li>
                        <a :href="'Account/RecordGlodList.html?param='+userID+'&account='+ account" title="">金币流水</a>
                    </li>
                    <li>
                        <a :href="'Account/RecordUserInoutList.html?param='+userID+'&account='+ account"
                           title="">进出记录</a>
                    </li>
                    <li>
                        <a :href="'Account/tuiGuang.html?param='+userID+'&account='+ account" title="">推广</a>
                    </li>
                    <li>
                        <a :href="'Account/shuiShouJiLu.html?param='+userID+'&account='+ account" title="">税收记录</a>
                    </li>
                </ul>
                <div class="box-content" style="overflow: hidden; display: block;">

                    <!--查询栏开始-->
                    <div class="alert alert-info">
                        <ul class="list-group">
                            <li class="list-group-item mb5">
                                <ul class="list-inline cursor-style">
                                    <li>订单时间：</li>
                                    <li>
                                        <input id="txtStartDate" class="input-width-150"
                                               type="text" readonly="readonly"
                                               placeholder="请输入开始时间" value=""/>&nbsp;&nbsp;至&nbsp;&nbsp;
                                        <input id="txtEndDate" class="input-width-150"
                                               type="text" readonly="readonly"
                                               placeholder="请输入结束时间" value=""/>
                                    </li>
                                    <li>渠道：</li>
                                    <li>
                                        <select id="gameChannel" class="form-control input-sm">
                                            <option value="0">请选择渠道</option>
                                            <option :value="item.id" v-for="item in gameChannel">{{item.username}}
                                            </option>
                                        </select>
                                    </li>
                                    <li>订单状态：</li>
                                    <li>
                                        <select id="payStatus" class="form-control input-sm">
                                            <option value="0">请选择订单状态</option>
                                            <option :value="item.id" v-for="item in payStatus">{{item.name}}</option>
                                            <!--                                            <option value="1">待支付</option>-->
                                            <!--                                            <option value="2">已支付</option>-->
                                            <!--                                            <option value="3">已取消</option>-->
                                            <!--                                            <option value="4">已完成</option>-->
                                        </select>
                                    </li>
                                    <li>用户状态：</li>
                                    <li>
                                        <select id="userStatus" class="form-control input-sm">
                                            <option value="-1">请选择</option>
                                            <option :value="item.id" v-for="item in userStatus">{{item.name}}</option>
                                        </select>
                                    </li>
                                    <li>充值方式：</li>
                                    <li><select class="form-control input-sm" id="ddlGlobalShareInfo">
                                        <option value="0">全部服务</option>
                                        <option :value="key" v-for="(value,key) in payTypeList">{{value}}</option>
                                    </select></li>
                                    <li>充值渠道：</li>
                                    <li>
                                        <select id="payChannel" class="form-control input-sm">
                                            <option value="0">请选择充值渠道</option>
                                            <option :value="item.id" v-for="item in payChannel">{{item.name}}</option>
                                        </select>
                                    </li>
                                    <li>
                                        关键字：
                                    </li>
                                    <li>
                                        <input type="text" id="txtSearch" class="form-control input-sm input-width-150"
                                               placeholder="请输入订单号/用户ID/账号"/>
                                    </li>
                                    <li>
                                        <a id="btnQuery" class="btn btn-outline-success search" href="#"><i
                                                class="glyphicon glyphicon-zoom-in icon-white"></i>查询</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--查询栏结束-->
                    <div class="row">
                        <div class="col-md-6 col-lg-7" style="padding-bottom:5px; padding-top:5px;">
                            <div class="top-tip">
                                <p>统计：当前查询总支付金额<span id="searchAllOrderAmount"></span> 元&nbsp;&nbsp;&nbsp;&nbsp;
                                    当前页已支付金额<span id="pageSuccessOrderAmount"></span>元&nbsp;&nbsp;&nbsp;&nbsp;
                                    当前页待支付金额<span id="pageFailOrderAmount"></span> 元
                                </p>
                            </div>
                            <div class="top-tip">
                                <p>今日数据：订单总金额<span id="todayAllOrderAmount"></span>元&nbsp;&nbsp;&nbsp;&nbsp;
                                    支付金额<span id="todaySuccessOrderAmount"></span>元&nbsp;&nbsp;&nbsp;&nbsp;
                                    未支付金额<span id="todayFailOrderAmount"></span>元&nbsp;&nbsp;&nbsp;&nbsp;
                                    总订单数量<span id="todayAllOrderNum"></span>笔&nbsp;&nbsp;&nbsp;&nbsp;
                                    已付订单数<span id="todaySuccessOrderNum"></span>单&nbsp;&nbsp;&nbsp;&nbsp;
                                    待付订单数<span id="todayFailOrderNum"></span>单
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5" style="padding-bottom:5px; padding-top:5px; text-align:right;">
                            <div class="btn-group btn-group">
                                <button type="button" id="btnQueryTD" class="btn btn-outline-primary"><i
                                        class="glyphicon glyphicon-align-left icon-white"></i>今天
                                </button>
                                <button type="button" id="btnQueryYD" class="btn btn-outline-primary"><i
                                        class="glyphicon glyphicon-align-center icon-white"></i>昨天
                                </button>
                                <button type="button" id="btnQueryTW" class="btn btn-outline-primary"><i
                                        class="glyphicon glyphicon-align-right icon-white"></i>本周
                                </button>
                                <button type="button" id="btnQueryYW" class="btn btn-outline-primary"><i
                                        class="glyphicon glyphicon-align-justify icon-white"></i>上周
                                </button>
                                <button type="button" id="btnQueryTM" class="btn btn-outline-primary"><i
                                        class="glyphicon glyphicon-indent-left icon-white"></i>本月
                                </button>
                                <button type="button" id="btnQueryYM" class="btn btn-outline-primary"><i
                                        class="glyphicon glyphicon-indent-right icon-white"></i>上月
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--table开始-->
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper table-center" role="grid">
                        <table id="layTable" lay-filter="test"></table>
                    </div>
                    <!--table结束-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    查看明细
                </h4>
            </div>
            <div class="modal-body">
                <iframe id="iframedetail" style="border:0px;"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script src="../Scripts/jquery-1.10.2.min.js"></script>
<script src="../Content/laydate/laydate.js"></script>
<script src="../Scripts/pagination.js"></script>
<script src="../bootstrap/js/bootstrap.min.js"></script>
<script src="../Content/layui-v2.5.4/layui/layui.js"></script>
<script src="../Scripts/vue.min.js"></script>
<script src="../Scripts/comm.js"></script>
<script type="text/javascript">
    var pageObj = {};
    var postData = {};//搜索条件
    var param = getUrlParams('param')
    //使用layui的数据表格，需要定义一个全局变量存储选中行的数据
    var selectRows = [], table;
    var myVue = new Vue({
        el: '#content',
        data: {
            payTypeList: {},//充值方式
            userStatus: [],//用户状态
            userID: param,
            account: getUrlParams('account') || '',
            gameChannel: [],//渠道列表
            payStatus: [],//支付订单状态列表
            payChannel: [],//支付渠道列表
        },
        mounted: function () {
            var that = this
            if (getUrlParams('account')) {
                $('#txtSearch').val(getUrlParams('account'));
            }
            //获取支付类型
            $.get(qp_url + 'admin/Gamecommon/payType', function (res) {
                if (res.status == 1) {
                    that.payTypeList = res.data
                }
            }, 'json')
            //获取用户状态
            $.get(qp_url + 'admin/Gamecommon/userStatus', function (res) {
                if (res.status == 1) {
                    console.log('success');
                    that.userStatus = res.data
                }
            }, 'json')
            //获取支付订单状态
            $.get(qp_url + 'admin/Gamecommon/payStatus', function (res) {
                if (res.status == 1) {
                    console.log('success');
                    that.payStatus = res.data
                }
            }, 'json')
            //获取渠道列表
            $.get(qp_url + 'admin/Gamecommon/gameChannel', function (res) {
                if (res.status == 1) {
                    console.log('success');
                    that.gameChannel = res.data
                }
            }, 'json')
            //获取支付渠道列表
            $.get(qp_url + 'admin/Gamecommon/payChannel', function (res) {
                if (res.status == 1) {
                    console.log('success');
                    that.payChannel = res.data
                }
            }, 'json')
        }
    })
    $(document).ready(function () {
        //时间选择器
        laydate.render({
            elem: '#txtStartDate'
            , type: 'datetime'
            , theme: '#00B4E5'
            // ,value:Time.today().StartDate
        });
        laydate.render({
            elem: '#txtEndDate'
            , type: 'datetime'
            , theme: '#00B4E5'
            // ,value:Time.today().EndDate
        });

        // var agent = '';
        // if (agent != "") {
        //     $("#txtSearch").val(agent);
        //     $("#ddlSearchType").val(5);
        // }
        docReady();
    });
    layui.use('table', function () {
        table = layui.table;
        //第一个实例
        table.render({
            elem: '#layTable'
            , id: 'layTable'
            , url: qp_url + 'admin/Filled/GetShareInfoList' //数据接口
            , where: postData
            , request: {
                pageName: 'pageIndex' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , response: { //res 即为原始返回的数据
                statusName: 'status',
                statusCode: 1,
                // msgName: 'msg',
                // dataName: 'data',
            },
            parseData: function (res) {
                console.log(res)
                if (res.status == 1) {//统计
                    $('#searchAllOrderAmount').text(res.data.searchAllOrderAmount);
                    $('#pageSuccessOrderAmount').text(res.data.pageSuccessOrderAmount);
                    $('#pageFailOrderAmount').text(res.data.pageFailOrderAmount);

                    $('#todayAllOrderAmount').text(res.data.todayAllOrderAmount);
                    $('#todaySuccessOrderAmount').text(res.data.todaySuccessOrderAmount);
                    $('#todayFailOrderAmount').text(res.data.todayFailOrderAmount);
                    $('#todayAllOrderNum').text(res.data.todayAllOrderNum);
                    $('#todaySuccessOrderNum').text(res.data.todaySuccessOrderNum);
                    $('#todayFailOrderNum').text(res.data.todayFailOrderNum);

                }
                return {
                    "status": res.status, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析数据长度 ,需要数据库返回
                    "data": res.data.data //解析数据列表
                };
            }
            , page: {
                'theme': '#2D2D3C'
            } //开启分页
            , limits: [10, 20, 30, 50, 80, 100]
            , limit: 10
            , cellMinWidth: 120
            , cols: [[ //表头
                {field: 'OrderID', title: '订单号', minWidth: 200}
                , {field: 'ThirdOrder', title: '第三方订单号', minWidth: 200}
                , {field: 'UserID', title: '用户ID'}
                , {
                    field: 'Accounts', title: '用户帐号', templet: function (d) {
                        return `<a href="javascript:void(0);" onclick="openWindowOwn('Account/AccountsInfo.html?param={1}&tagindex=2&ModuleID={2}','{1}',850,600);">${d.Accounts}</a>`
                    }
                }
                , {field: 'NickName', title: '用户昵称'}
                , {field: 'ChannelId', title: '推广渠道ID'}
                , {field: 'ChannelName', title: '推广渠道昵称'}
                , {field: 'PayChannelID', title: '充值渠道ID'}
                , {field: 'PayChannelName', title: '充值渠道'}
                , {field: 'OrderStatus', title: '订单状态',templet:function (d) {
                        return orderStatus(d.OrderStatus)
                    }}
                , {field: 'ShareName', title: '支付方式'}
                , {field: 'OrderAmount', title: '订单金额',sort:true}
                , {field: 'PayAmount', title: '实付金额',sort:true}
                , {field: 'ApplyDate', title: '创建时间',sort:true, minWidth: 200}
                , {field: 'PayDate', title: '支付时间',sort:true, minWidth: 200}
                , {field: 'LastLogonIP', title: '客户端地址', minWidth: 200}
                , {field: 'RegisterOrigin', title: '设备',minWidth:90, templet: function (d) {
                        if (d.RegisterOrigin == 1) {
                            return '安卓'
                        }
                        if (d.RegisterOrigin == 2) {
                            return 'ios'
                        }
                        if (d.RegisterOrigin == 3) {
                            return 'PC'
                        }
                        return '无法获取'
                    }}
                , {field: 'Spreader', title: '推广人'}
                , {
                    field: '', title: '操作', fixed: 'right', event: 'budan', templet: function (d) {
                        return `<button class="layui-btn layui-btn-xs">补单</button>`
                    }
                }
            ]]
            , done: function (res, curr, count) {
                $('th').css({'text-align': 'center'});
            }

        });
        table.on('tool(test)', function (obj) {
            console.log(obj.tr) //得到当前行元素对象
            console.log(obj.data) //得到当前行数据
            //obj.del(); //删除当前行
            //obj.update(fields) //修改当前行数据
            console.log(obj.event)
            switch (obj.event) {
                case 'budan':
                    layer.confirm('确定要对XXX进行补单？', {
                        btn: ['确定', '取消']
                    }, function () {
                        // $.ajax({
                        //     type: 'POST',
                        //     url: "?s=/Achievements/SetPerformStandard/ConfirmTOpConfigEditorAjax",
                        //     data: {
                        //         'PerId': perid,
                        //         'start_time': start_time,
                        //         'end_time': end_time,
                        //     },
                        //     success:function () {
                        //         layer.close(layer.index);
                        //     }
                        // });
                    }, function () {

                    })
                    break;
            }

        });
    });

    function  orderStatus(num) {
        for(var i=0;i<myVue.payStatus.length;i++){
            if(num == myVue.payStatus[i].id ){
                return myVue.payStatus[i].name
            }
        }
        return ''
    }

    function docReady() {
        //加载数据
        // postData.pageSize = parseInt($("#pagecount").val());
        postData.Sort = "";
        postData.Type = 1;
        // postData.pageIndex = 1;
        postData.KeyWord = $("#txtSearch").val();
        postData.SearchType = $("#ddlSearchType").val();
        // var txtStartDate = $("#txtStartDate").val();
        // var txtEndDate = $("#txtEndDate").val();
        // postData.StartDate = Time.today().StartDate;
        // postData.EndDate = Time.today().EndDate;
        postData.token = getStorage('token');
        // AjaxSearch(postData);
        //收放事件
        $('.btn-minimize').click(function (e) {
            e.preventDefault();
            var $target = $(this).parent().parent().next('.box-content');
            if ($target.is(':visible')) $('i', $(this)).removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
            else $('i', $(this)).removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
            $target.slideToggle();
        });
        //选择页码
        $("#pagecount").change(function (e) {
            postData.pageSize = parseInt($(this).val());
            postData.pageIndex = 1;
            AjaxSearch(postData);
        });

        //普通搜索事件
        $("#btnQuery").click(function (e) {

            // postData.pageSize = parseInt($("#pagecount").val());
            postData.Type = 1;
            var txtStartDate = $("#txtStartDate").val();
            var txtEndDate = $("#txtEndDate").val();
            if (txtStartDate != "" && txtEndDate != "") {
                if (StrToDateTime(txtEndDate) < StrToDateTime(txtStartDate)) {
                    alert("开始日期不能大于结束时间");
                    return false;
                }
            }
            postData.StartDate = txtStartDate;
            postData.EndDate = txtEndDate;
            //postData.CardTypeID = parseInt($("#ddlCardType").val());
            postData.ShareID = parseInt($("#ddlGlobalShareInfo").val());
            postData.KeyWord = $("#txtSearch").val();
            // postData.SearchType = $("#ddlSearchType").val();//去掉原先的搜索类型
            postData.ChannelId = $("#gameChannel").val();// 所属渠道ID
            postData.OrderStatus = $("#payStatus").val();//订单状态
            postData.Nullity = $("#userStatus").val();//用户状态
            postData.ShareID = $("#ddlGlobalShareInfo").val();//充值方式
            postData.PayChannelID = $("#payChannel").val();//充值渠道id
            table.reload('layTable', {
                where: postData,
                page: {
                    curr: 1
                }
            })
            // postData.pageIndex = 1;
            // AjaxSearch(postData);
        });
        //今天查询
        $("#btnQueryTD").click(function (e) {
            postData.Type = 2;
            //postData.CardTypeID = parseInt($("#ddlCardType").val());
            postData.ShareID = parseInt($("#ddlGlobalShareInfo").val());
            table.reload('layTable', {
                where: postData,
                page: {
                    curr: 1
                }
            })
            // AjaxSearch(postData);
        });
        //昨天查询
        $("#btnQueryYD").click(function (e) {
            postData.Type = 3;
            //postData.CardTypeID = parseInt($("#ddlCardType").val());
            postData.ShareID = parseInt($("#ddlGlobalShareInfo").val());
            table.reload('layTable', {
                where: postData,
                page: {
                    curr: 1
                }
            })
            // AjaxSearch(postData);
        });
        //本周查询
        $("#btnQueryTW").click(function (e) {
            postData.Type = 4;
            //postData.CardTypeID = parseInt($("#ddlCardType").val());
            postData.ShareID = parseInt($("#ddlGlobalShareInfo").val());
            table.reload('layTable', {
                where: postData,
                page: {
                    curr: 1
                }
            })
            // AjaxSearch(postData);
        });
        //上周查询
        $("#btnQueryYW").click(function (e) {
            postData.Type = 5;
            //postData.CardTypeID = parseInt($("#ddlCardType").val());
            postData.ShareID = parseInt($("#ddlGlobalShareInfo").val());
            table.reload('layTable', {
                where: postData,
                page: {
                    curr: 1
                }
            })
            // AjaxSearch(postData);
        });
        //本月查询
        $("#btnQueryTM").click(function (e) {
            postData.Type = 6;
            //postData.CardTypeID = parseInt($("#ddlCardType").val());
            postData.ShareID = parseInt($("#ddlGlobalShareInfo").val());
            table.reload('layTable', {
                where: postData,
                page: {
                    curr: 1
                }
            })
            // AjaxSearch(postData);
        });
        //上月查询
        $("#btnQueryYM").click(function (e) {
            postData.Type = 7;
            //postData.CardTypeID = parseInt($("#ddlCardType").val());
            postData.ShareID = parseInt($("#ddlGlobalShareInfo").val());
            table.reload('layTable', {
                where: postData,
                page: {
                    curr: 1
                }
            })
            // AjaxSearch(postData);
        });
    }

    //搜索事件
    function AjaxSearch(postData) {
        $('#pagin').paging("/Filled/GetShareInfoList", postData, CreatTableBody, postData.pageIndex);
    }

    function StrToDateTime(timestr) {
        var dt = new Date(timestr.replace("-", "/").replace("-", "/"));
        return dt;
    }

    function view(gameid, applydate) {
        console.log(gameid)
        if (gameid) {
            // var applydate = applydate.replace("T", " ");
            // var applydate = applydate.substring(0, applydate.indexOf("."));

            $("#iframedetail").attr("src", "Trade/LotteryBetDraw.html?gameid=" + gameid + "&StartDate=" + applydate);
            // alert($(window).width());
            $("#iframedetail").width($(window).width() - 80);
            $("#iframedetail").height($(window).height() - 240);
            $(".modal-dialog").width($(window).width() - 50);
            $(".modal-dialog").height($(window).height() - 220);
            $('#myModal').modal('show');
        }
    }

    //绑定数据
    function CreatTableBody(jsondata, pageTotal, pageCount, pageIndex, msg) {
        var html = "";
        if (jsondata != null && jsondata.length > 0) {
            $.each(jsondata, function (i, item) {
                html += stringFormat("<tr class=\"odd\">");
                html += stringFormat("<td onclick='view({0},\"{1}\")'>查看</td>", item.GameID, item.ApplyDate);
                html += stringFormat("<td>{0}</td>", item.ApplyDate);
                html += stringFormat("<td>{0}</td>", item.ShareName);
                html += stringFormat("<td>{0}</td>", G_AddUserNameLink(item.Accounts, item.UserID, item.UserType));
                html += stringFormat("<td>{0}</td>", item.rechargeaccount);
                html += stringFormat("<td>{0}</td>", item.AgentAcc);
                html += stringFormat("<td>{0}</td>", item.Spreader);
                html += stringFormat("<td>{0}</td>", item.GameID);
                //html += stringFormat("<td>{0}</td>", item.SerialID);
                html += stringFormat("<td>{0}</td>", item.OrderID);
                html += stringFormat("<td>{0}</td>", item.OrderAmount);
                html += stringFormat("<td>{0}</td>", item.PayAmount);
                //html += stringFormat("<td>{0}</td>", item.CardTypeName);
                html += stringFormat("<td>{0}</td>", item.Gold);
                html += stringFormat("<td>{0}</td>", item.BeforeGold);
                html += stringFormat("<td title=\"{0}\">{1}</td>", item.IPAddress, item.IPAddress);
                //html += stringFormat("<td>{0}</td>", item.Account);
                html += "</tr>";
            });
        }
        if (msg != null) {
            html += stringFormat("<tr><td colspan=\"8\">合计：</td><td><lable id=\"ltOrderAmounts\">{0}</lable></td><td><lable id=\"ltPayAmounts\">{1}</lable></td><td><lable id=\"ltGrantCurrency\">{2}</lable></td><td colspan=\"3\"></td></tr>", typeof (msg.OrderAmount) == "undefined" ? "0.00" : msg.OrderAmount, typeof (msg.PayAmount) == "undefined" ? "0.00" : msg.PayAmount, typeof (msg.Currency) == "undefined" ? "0.00" : msg.Currency);
        }
        $("#DataTables_Table_0_wrapper tbody").html(html);
        $("#DataTables_Table_0_info").html(stringFormat("显示 {0} 至 {1} 共 {2} 条", ((pageIndex - 1) * postData.pageSize + 1), ((pageIndex * postData.pageSize) < pageTotal ? (pageIndex * postData.pageSize) : pageTotal), pageTotal));
    }

    //字符串格式化
    function stringFormat() {
        if (arguments.length == 0)
            return null;
        var str = arguments[0];
        for (var i = 1; i < arguments.length; i++) {
            var re = new RegExp('\\{' + (i - 1) + '\\}', 'gm');
            str = str.replace(re, arguments[i]);
        }
        return str;
    }
</script>
</body>
</html>
