<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>充值系统 - 订单管理</title>
    <link href="../Content/Admin/css/bootstrap-cerulean.min.css" rel="stylesheet"/>
    <link href="../Content/Admin/css/charisma-app.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../Content/layui-v2.5.4/layui/css/layui.css">
    <link href="../Content/common.css" rel="stylesheet"/>
    <style>
        body {
            overflow-y: scroll !important;
        }
        .list-group-item ul li {
            margin: 5px 0;
        }
    </style>
</head>
<body class="backgroud">
<div id="content" class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-hand-right"></i> 你当前位置：充值系统 - 订单管理 </h2>
                    <div class="box-icon">
                        <a href="#" class="btn btn-round btn-default" onclick="history.go(0);">
                            <i class="glyphicon glyphicon-repeat"></i>
                        </a>
                        <a href="#" class="btn btn-minimize btn-round btn-default">
                            <i class="glyphicon glyphicon-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="box-content" style="overflow: hidden; display: block;">
                    <!--查询栏开始-->
                    <div class="alert alert-info">
                        <ul class="list-group">
                            <form class="layui-form" method="post" action="#" lay-filter="component-form-element">

                                <li class="list-group-item">
                                    <ul class="list-inline cursor-style">
                                        <li>日期查询：</li>
                                        <li>
                                            <input id="txtStartDate" class="input-width-150"
                                                   type="text" readonly="readonly"
                                                   placeholder="请输入开始时间" value=""/>&nbsp;&nbsp;至&nbsp;&nbsp;
                                            <input id="txtEndDate" class="input-width-150"
                                                   type="text" readonly="readonly"
                                                   placeholder="请输入结束时间" value=""/>
                                        </li>
                                        <li>订单状态：</li>
                                        <li>
                                            <select id="payStatus" class="form-control input-sm">
                                                <option value="">所有订单状态</option>
                                            </select>
                                        </li>
                                        <li>
                                            <select class="form-control input-sm" id="ddlGlobalShareInfo"></select>
                                        </li>
                                        <li>查询：</li>
                                        <li>
                                            <input type="text" id="txtSearch"
                                                   class="form-control input-sm input-width-150"
                                                   placeholder="请输入用户查询"/>
                                        </li>
                                        <li>
                                            <select id="ddlSearchType" class="form-control input-sm">
                                                <option value="1">按用户帐号</option>
                                                <option value="2">按游戏ID</option>
                                                <option value="3">按订单号</option>
                                            </select>
                                        </li>
                                        <li>
                                            <a id="btnQuery" class="btn btn-outline-success search" href="#"><i
                                                    class="glyphicon glyphicon-zoom-in icon-white"></i>查询</a>
                                        </li>

                                    </ul>
                                </li>
                            </form>
                        </ul>
                    </div>
                    <!--查询栏结束-->
                    <div class="row">
                        <div class="col-md-6 top-tip">
                            <p>
                                成功订单总额<span id="sumSuccess">0</span>元&nbsp;&nbsp;&nbsp;&nbsp;
                                成功<span id="successCount">0</span>笔&nbsp;&nbsp;&nbsp;&nbsp;
                                失败订单总额<span id="sumFail">0</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                失败<span id="failCount">0</span>笔</p>
                            <p>
                                当前页支付成功金额<span id="pageSuccessPayNum">0</span>元&nbsp;&nbsp;&nbsp;&nbsp;
                                支付成功单数<span id="pageSuccessPayCount">0</span>单&nbsp;&nbsp;&nbsp;&nbsp;
                                未支付金额<span id="pageFailPayNum">0</span>元&nbsp;&nbsp;&nbsp;&nbsp;
                                未支付单数<span id="pageFailPayCount">0</span>单
                            </p>
                        </div>
                        <div class="col-md-6" style="padding-bottom:5px; padding-top:5px; text-align:right;">
                            <div class="btn-group btn-group">
                                <button type="button" id="btnQueryTD" class="btn btn-outline-primary"><i
                                        class="glyphicon glyphicon-align-left icon-white"></i>今天
                                </button>
                                <button type="button" id="btnQueryYD" class="btn btn-outline-primary"><i
                                        class="glyphicon glyphicon-align-center icon-white"></i>昨天
                                </button>
                                <button type="button" id="btnQueryTW" class="btn btn-outline-primary"><i
                                        class="glyphicon glyphicon-align-right icon-white"></i>本周
                                </button>
                                <button type="button" id="btnQueryYW" class="btn btn-outline-primary"><i
                                        class="glyphicon glyphicon-align-justify icon-white"></i>上周
                                </button>
                            </div>
                            <button type="button" id="btnDelete" class="btn btn-danger"><i
                                    class="glyphicon glyphicon-trash icon-white"></i>删除
                            </button>
                        </div>
                    </div>
                    <!--table开始-->
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper table-center" role="grid">
                        <table id="layTable" lay-filter="test"></table>
                        <table style="display: none"
                               class="table table-striped table-bordered bootstrap-datatable datatable responsive dataTable"
                               id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                            <thead>
                            <tr role="row">
                                <th><input name="ckall" type="checkbox" value="" onclick="SelectAll(this,'cid')"/></th>
                                <th>订单日期</th>
                                <th>订单号码</th>
                                <th>服务类别</th>
                                <th>用户帐号</th>
                                <th>游戏ID</th>
                                <th>上级代理</th>
                                <th>订单金额</th>
                                <th>实付金额</th>

                                <th>订单状态</th>


                            </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all"></tbody>
                        </table>
                        <!--分页控件-->
                        <div class="row">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6">
                                <div class="dataTables_paginate paging_bootstrap pagination" style="float:right;">
                                    <ul class="pagination" id="pagin"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--table结束-->
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../Scripts/jquery-1.10.2.min.js"></script>
<script src="../Scripts/comm.js"></script>
<script src="../Content/laydate/laydate.js"></script>
<!--<script src="../Scripts/pagination.js"></script>-->
<script src="../Content/layui-v2.5.4/layui/layui.js"></script>
<script type="text/javascript">
    var pageObj = {};
    var postData = {};//搜索条件
    var first;
    //使用layui的数据表格，需要定义一个全局变量存储选中行的数据
    var selectRows = [];
    var table;
    layui.use(['table', 'form'], function () {
        table = layui.table;
        var form = layui.form;
        // 获取服务类别
        $.get(qp_url + 'admin/Gamecommon/payType', function (resData) {
            console.log(resData.data)
            $('#ddlGlobalShareInfo').html('<option value="0">全部服务</option>')
            for (var i in resData.data) {
                $('#ddlGlobalShareInfo').append('<option value="' + i + '">' + resData.data[i] + '</option>')
            }
            form.render()
        }, 'json')

        //第一个实例
        table.render({
            elem: '#layTable'
            // , height: 512
            , id: 'myTable'
            , method: 'post'
            , where: postData
            , url: qp_url + 'admin/Filled/GetOnLineOrderList?token=' + getStorage('token') //数据接口
            , request: {
                pageName: 'pageIndex' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , response: { //res 即为原始返回的数据
                statusName: 'status',
                statusCode: 1,
                // msgName: 'msg',
                // dataName: 'data',
            },
            parseData: function (res) {
                // console.log(res)
                // if (!first) {
                //     $('#sumSuccess').text(res.data.sumSuccess)
                //     $('#successCount').text(res.data.successCount)
                //     $('#sumFail').text(res.data.sumFail)
                //     $('#failCount').text(res.data.failCount)
                //     first = true
                // }
                $('#sumSuccess').text(parseFloat(res.data.sumSuccess).formatMoney())
                $('#successCount').text(res.data.successCount)
                $('#sumFail').text(parseFloat(res.data.sumFail).formatMoney())
                $('#failCount').text(res.data.failCount)

                $('#pageSuccessPayNum').text(parseFloat(res.data.pageSuccessPayNum).formatMoney())
                $('#pageSuccessPayCount').text(res.data.pageSuccessPayCount)
                $('#pageFailPayNum').text(parseFloat(res.data.pageFailPayNum).formatMoney())
                $('#pageFailPayCount').text(res.data.pageFailPayCount)
                return {
                    "status": res.status, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析数据长度 ,需要数据库返回
                    "data": res.data.data //解析数据列表
                };
            }
            , page: {
                'theme': '#2D2D3C'
            } //开启分页
            , limits: [10, 20, 30, 50, 80, 100]
            , limit: 10
            , cellMinWidth: 110
            , cols: [[ //表头
                {type: 'checkbox'}
                , {field: 'ApplyDate', title: '订单日期', width: 170}
                , {field: 'OrderID', title: '订单号码', width: 200}
                , {field: 'ThirdOrder', title: '第三方订单号', width: 200}
                , {field: 'ShareName', title: '服务类别'}
                , {
                    field: 'Accounts', title: '用户帐号', templet: function (d) {
                        return `<a href="javascript:void(0);" onclick="openWindowOwn('Account/AccountsInfo.html?param=${d.UserID}','{1}',850,600);">${d.Accounts}</a>`
                    }
                }
                , {field: 'NickName', title: '用户昵称'}
                , {field: 'GameID', title: '游戏ID'}
                , {field: 'ChannelId', title: '推广渠道号'}
                , {field: 'ChannelName', title: '推广渠道昵称', minWidth: 120}
                , {field: 'PayChannelID', title: '充值渠道ID', minWidth: 120}
                , {field: 'PayChannelName', title: '充值渠道昵称', minWidth: 120}
                , {
                    field: 'RegisterOrigin', title: '设备', width: 90, templet: function (d) {
                        if (d.RegisterOrigin == 1) {
                            return '安卓'
                        }
                        if (d.RegisterOrigin == 2) {
                            return 'ios'
                        }
                        if (d.RegisterOrigin == 3) {
                            return 'PC'
                        }
                        return '无法获取'
                    }
                }
                , {field: 'Spreader', title: '上级推广员'}
                , {field: 'OrderAmount', title: '<span title="实付金额+充值赠送">订单金额</span>'}
                , {field: 'PayAmount', title: '实付金额'}
                , {field: 'IPAddress', title: '客户端地址', minWidth: 150}
                , {
                    field: 'OrderStatus', title: '订单状态', templet: function (d) {
                        if (d.OrderStatus == 0) {
                            return '<span class="wrong">未完成</span>'
                        } else if (d.OrderStatus == 1) {
                            return '<span class="">完成未处理</span>'
                        } else if (d.OrderStatus == 2) {
                            return '<span class="normal">已完成</span>'
                        }
                    }
                }
                , {
                    field: '', title: '操作', fixed: 'right', templet: function (d) {
                        if (d.OrderStatus == 2) {
                            return `<button class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</button>`
                        } else {
                            return `<button class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</button><button class="layui-btn layui-btn-xs"  lay-event="budan">补单</button>`
                        }
                    }
                }
            ]]
            , done: function (res, curr, count) {
                $('th').css({'text-align': 'center'});
            }

        });
        //监听复选框选择事件
        table.on('checkbox(test)', function (obj) {
            var checkStatus = table.checkStatus('myTable'); //idTest 即为基础参数 id 对应的值
            selectRows = checkStatus.data
        });
        table.on('tool(test)', function (obj) {
            console.log(obj.tr) //得到当前行元素对象
            console.log(obj.data) //得到当前行数据
            //obj.del(); //删除当前行
            //obj.update(fields) //修改当前行数据
            console.log(obj.event)
            switch (obj.event) {
                case 'delete':
                    layer.confirm('确定要删除这条订单？', {
                        btn: ['确定', '取消']
                    }, function () {
                        $.ajax({
                            type: 'POST',
                            url: qp_url + 'admin/Filled/DeleteOnlineOrder?token=' + getStorage('token'),
                            dataType: 'json',
                            data: {
                                cid: obj.data.OnLineID
                            },
                            success: function (res) {
                                console.log(res)
                                if (res.status == 1) {
                                    layer.msg(res.msg, {time: 1000, icon: 1});
                                    setTimeout(function () {
                                        window.history.go(0)
                                    }, 1500)
                                } else {
                                    layer.msg(res.msg, {time: 1000, icon: 2});
                                    return false;
                                }
                            }
                        });
                    }, function () {

                    })
                    break;
                case 'budan':
                    layer.confirm('确定对'+obj.data.OrderID+'补单？', {
                        btn: ['确定', '取消']
                    }, function () {

                    }, function () {

                    })
                    break;
            }

        });
    });
    $(document).ready(function () {
        //时间选择器
        laydate.render({
            elem: '#txtStartDate'
            , theme: '#00B4E5'
            , value: new Date()
        });
        laydate.render({
            elem: '#txtEndDate'
            , theme: '#00B4E5'
            , value: new Date()
        });
        docReady();
    });

    function docReady() {
        //加载数据
        postData.Sort = "";
        postData.KeyWord = "";
        postData.SearchType = 1;
        postData.Type = 1;
        postData.ShareID = 0;
        postData.StartDate = Time.today().StartDate;
        postData.EndDate = Time.today().EndDate;
        // postData.OrderStatus = $('#payStatus').val();
        //获取支付订单状态
        $.get(qp_url + 'admin/Gamecommon/payStatus?token=' + getStorage('token'), function (res) {
            if (res.status == 1) {
                var str = ""
                for (var i = 0, len = res.data.length; i < len; i++) {
                    str += '<option value="' + res.data[i].id + '">' + res.data[i].name + '</option>'
                }
                $('#payStatus').append(str)
            }
        }, 'json')
    }

    //普通搜索事件
    $("#btnQuery").click(function (e) {
        postData.pageSize = parseInt($("#pagecount").val());
        postData.Type = 1;
        var txtStartDate = $("#txtStartDate").val();
        var txtEndDate = $("#txtEndDate").val();
        if (txtStartDate != "" && txtEndDate != "") {
            if (StrToDateTime(txtEndDate) < StrToDateTime(txtStartDate)) {
                layer.alert("开始日期不能大于结束时间");
                return false;
            }
        }
        postData.StartDate = datetimeFormat(txtStartDate, 0);
        postData.EndDate = datetimeFormat(txtEndDate, 1);
        postData.pageIndex = 1;
        postData.ShareID = parseInt($("#ddlGlobalShareInfo").val());
        postData.KeyWord = $("#txtSearch").val();
        postData.SearchType = $("#ddlSearchType").val();
        postData.OrderStatus = $('#payStatus').val();
        AjaxSearch(postData);
    });
    //今天查询
    $("#btnQueryTD").click(function (e) {
        var date = Time.today();
        postData.pageIndex = 1;
        postData['StartDate'] = date.StartDate;
        postData['EndDate'] = date.EndDate;
        AjaxSearch(postData);
    });
    //昨天查询
    $("#btnQueryYD").click(function (e) {
        var date = Time.yesterday();
        postData.pageIndex = 1;
        postData['StartDate'] = date.StartDate;
        postData['EndDate'] = date.EndDate;
        AjaxSearch(postData);
    });
    //本周查询
    $("#btnQueryTW").click(function (e) {
        var date = Time.thisWeek()
        postData.pageIndex = 1;
        postData['StartDate'] = date.StartDate;
        postData['EndDate'] = date.EndDate;
        AjaxSearch(postData);
    });
    //上周查询
    $("#btnQueryYW").click(function (e) {
        var date = Time.lastWeek()
        postData.pageIndex = 1;
        postData['StartDate'] = date.StartDate;
        postData['EndDate'] = date.EndDate;
        AjaxSearch(postData);
    });
    //删除
    $("#btnDelete").click(function (e) {
        // var cid = GetSelectValues();
        var cid = GetSelectedDatas(selectRows, 'OnLineID');
        if (cid == "") {
            layer.alert('未选中任何数据', {
                icon: 7,
                skin: 'layer-ext-moon'
            })
            return;
        }
        layer.confirm('确定要删除这些订单？', {
            btn: ['确定', '取消']
        }, function () {
            $.ajax({
                type: 'POST',
                url: qp_url + 'admin/Filled/DeleteOnlineOrder?token=' + getStorage('token'),
                dataType: 'json',
                data: {
                    cid: cid
                },
                success: function (res) {
                    console.log(res)
                    if (res.status == 1) {
                        layer.msg(res.msg, {time: 1000, icon: 1});
                        setTimeout(function () {
                            window.history.go(0)
                        }, 1500)
                    } else {
                        layer.msg(res.msg, {time: 1000, icon: 2});

                        return false;
                    }
                }
            });
        })
    })

    //搜索事件
    function AjaxSearch(postData) {
        delete postData.pageSize
        delete postData.pageIndex
        console.log('AjaxSearch', postData)
        table.reload('myTable', {
            where: postData,
            page: {
                curr: 1
            }
        })
    }

</script>
</body>
</html>
