<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>数据分析 - 游戏房间在线信息</title>
    <link href="../Content/Admin/css/bootstrap-cerulean.min.css" rel="stylesheet" />
    <link href="../Content/Admin/css/charisma-app.css" rel="stylesheet" />
    <link rel="stylesheet" href="../Content/layui-v2.5.4/layui/css/layui.css">
    <link href="../Content/common.css" rel="stylesheet" />
    <style>
        .wrap,
        html,
        body {
            width: 100%;
            height: 100%;
            overflow-y: scroll !important;
        }

        .list-group-item ul li {
            margin: 5px 0;
        }
    </style>
</head>

<body>
    <div id="content" class="main-content" v-cloak>
        <div class="row">
            <div class="box-inner">
                <div class="col-md-12">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-hand-right"></i> 你当前位置：数据分析 - 游戏房间在线信息 </h2>
                            <div class="box-icon">
                                <a href="#" class="btn btn-round btn-default" onclick="history.go(0);">
                                    <i class="glyphicon glyphicon-repeat"></i>
                                </a>
                                <a href="#" class="btn btn-minimize btn-round btn-default">
                                    <i class="glyphicon glyphicon-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content tab-content" style="overflow: hidden; display: block;padding: 10px">
                            <!--查询栏开始-->
                            <div class="alert alert-info">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <ul class="list-inline cursor-style">
                                            <li>
                                                刷新时间：
                                                <select id="selTime" name="selTime">
                                                    <option value="5">5秒</option>
                                                    <option value="10">10秒</option>
                                                    <option value="30">30秒</option>
                                                    <option value="60" selected>60秒</option>
                                                    <option value="120">120秒</option>
                                                </select>
                                                倒计时:<label id="time" style="margin-left:5px;"></label>
                                                <a href="#" class="btn btn-primary" id="btnStart">开始</a>
                                            </li>
                                            <li>
                                                <a href="#" class="btn btn-blue" onclick="history.go(0);"><i
                                                        class="glyphicon glyphicon-repeat"></i>刷新</a>
                                            </li>
                                            <li>游戏：</li>
                                            <li>
                                                <select class="form-control" name="select" id="ddlGame"
                                                    v-model="KindID">
                                                    <option :value="item.KindID" v-for="item in gameList">
                                                        {{item.KindName}}
                                                    </option>
                                                </select>
                                            </li>
                                            <li>房间：</li>
                                            <li>
                                                <select class="form-control" name="select" id="ddlRoom"
                                                    v-model="ServerID">
                                                    <option value="0">全部房间</option>
                                                    <option :value="item.ServerID" v-for="item in roomList">
                                                        {{item.ServerName}}
                                                    </option>
                                                </select>
                                            </li>
                                            <li>
                                                <a id="btnQuery" class="btn btn-outline-success search" href="#"><i
                                                        class="glyphicon glyphicon-zoom-in icon-white"></i>查询</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <!--table开始-->
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper table-center" role="grid">
                                <div id="loading" style="text-align: center;margin: 10px auto;width: 228px">正在请求页面资源……
                                </div>
                                <table id="layTable" lay-filter="test"></table>
                            </div>
                            <!--table结束-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../Scripts/comm.js"></script>
    <script src="../Content/laydate/laydate.js"></script>
    <!--    <script src="../Scripts/pagination.js"></script>-->
    <script src="../Scripts/vue.min.js"></script>
    <script src="../Content/layui-v2.5.4/layui/layui.js"></script>
    <script type="text/javascript">
        var pageObj = {};
        var postData = {};//搜索条件
        var start;//计时器
        var _count = 0;//计数器，5分钟强制刷新页面
        var stopTime = 60;
        var app = new Vue({
            el: '#content',
            data: {
                gameList: [],
                roomList: [],
                KindID: 0,
                ServerID: 0
            },
            mounted: function () {
                var that = this
                //获取游戏列表
                $.ajax({
                    type: 'GET',
                    url: qp_url + 'admin/Gamecommon/GetGameList?token=' + getStorage('token'),
                    dataType: 'json',
                    success: function (res) {
                        console.log(res)
                        let otherType = [{
                            KindID: 0,
                            KindName: '全部游戏'
                        }];
                        if (res.status == 1) {
                            that.gameList = otherType.concat(res.data)
                        } else {
                            that.gameList = otherType
                        }
                    }
                })
                //获取游戏房间列表
                getRoomList(that, 0)
            },
            watch: {
                KindID: function (val) {
                    console.log(val);
                    getRoomList(this, val)
                }
            }
        });

        function getRoomList(_this, kid) {
            console.log(_this);
            $.get(qp_url + 'admin/Gamecommon/RoomList', {
                token: getStorage('token'),
                kid: kid
            }, function (res) {
                if (res.status == 1) {
                    _this.roomList = res.data
                }
            }, 'json')
        }

        //普通搜索事件
        $(document).on('click', '#btnQuery', function () {
            postData.KindID = $("#ddlGame").val();
            postData.ServerID = $("#ddlRoom").val();
            table.reload('layTable', {
                url: qp_url + 'admin/Analysis/userOnline?token=' + getStorage('token')
                , where: postData
            });
        })

        //使用layui的数据表格，需要定义一个全局变量存储选中行的数据
        var selectRows = [], table, myTable;
        layui.use('table', function () {
            table = layui.table;

            //第一个实例
            myTable = table.render({
                elem: '#layTable'
                // , height: 512
                , url: qp_url + 'admin/Analysis/userOnline?token=' + getStorage('token') //数据接口
                , request: {
                    pageName: 'pageIndex' //页码的参数名称，默认：page
                    , limitName: 'pageSize' //每页数据量的参数名，默认：limit
                }
                , response: { //res 即为原始返回的数据
                    statusName: 'status',
                    statusCode: 1,
                    // msgName: 'msg',
                    // dataName: 'data',
                },
                parseData: function (res) {
                    console.log(res)
                    return {
                        "status": res.status, //解析接口状态
                        "msg": res.msg, //解析提示文本
                        "count": res.data.total, //解析数据长度 ,需要数据库返回
                        "data": res.data.list //解析数据列表
                    };
                }
                , page: {
                    'theme': '#2D2D3C'
                } //开启分页
                , limits: [10, 20, 30, 50, 80, 100]
                , limit: 10
                , cellMinWidth: 130
                , cols: [[ //表头
                    { field: 'GameKindName', title: '游戏' }
                    , { field: 'GameRoomName', title: '游戏房间' }
                    , { field: 'AddCounts', title: '总人数' }
                    , { field: 'UserCount', title: '用户人数' }
                    , { field: 'AndroidCount', title: '机器人数量' }
                    , { field: 'TableCount', title: '桌子数' }
                ]]
                , done: function (res, curr, count) {
                    $('#loading').hide();
                    $('th').css({ 'text-align': 'center' });
                    if (start) {
                        console.log('计时器已存在')
                        clearInterval(start)
                    }
                    stopTime = $("#selTime").val();
                    loadTime();
                }
            });
            $("#reload").click(function () {
                myTable.reload()
            });
        });
        // 默认触发
        $("#btnStart").click(function () {
            console.log($(this).html())
            if ($(this).html() == "暂停") {
                $(this).html("开始")
                clearInterval(start);
            } else {
                start = setInterval(setTime, 1000);
                $(this).html("暂停")
            }
            return;
        });



        function loadTime() {
            $("#btnStart").html("暂停")
            $('#selTime').val(stopTime)
            setTime();

            $("#selTime").change(function () {
                stopTime = $("#selTime").val();
                setTime();
            });

            start = setInterval(setTime, 1000);
        }
        function setTime() {
            _count++;
            $("#time").html(stopTime);
            stopTime--;
            console.log($("#selTime").val())
            if (stopTime < 0) {
                stopTime = $("#selTime").val();
                table.reload('layTable', {
                    done: function (res, curr, count) {
                        if (_count >= 300) {//默认5分钟强制刷新页面
                            window.location.reload()
                        }
                    }
                });
                clearInterval(start);
                start = setInterval(setTime, 1000);
            }
        }


    </script>
</body>

</html>
