<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>权限管理-管理员列表</title>
    <link href="../Content/Admin/css/bootstrap-cerulean.min.css" rel="stylesheet"/>
    <link href="../Content/Admin/css/charisma-app.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../Content/layui-v2.5.4/layui/css/layui.css">
    <link href="../Content/common.css" rel="stylesheet"/>
    <style>
        body{
            overflow-y: scroll!important;
        }
        body .form-control {
            display: inline-block;
        }
        .layui-table-cell{
            text-align: center;}
    </style>
</head>
<body class="backgroud">
<div id="content" class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="box-inner ">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-hand-right"></i> 你当前位置：权限管理-管理员列表 </h2>
                    <div class="box-icon">
                        <a href="#" class="btn btn-round btn-default" onclick="history.go(0);">
                            <i class="glyphicon glyphicon-repeat"></i>
                        </a>
                        <a href="#" class="btn btn-minimize btn-round btn-default">
                            <i class="glyphicon glyphicon-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="box-content" style="overflow: hidden; display: block;">
                    <!--查询栏开始-->

                    <!--查询栏结束-->
                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-outline-success search" href="#"
                               onclick="openWindowOwn('add/adminRoleInfo.html?source=add', '', 800, 800)">
                                <i class="glyphicon glyphicon-plus"></i>
                                新增
                            </a>
                        </div>
                    </div>
                    <!--table开始-->
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper table-center" role="grid">
                        <table class="layui-table" id="list" lay-filter="list"></table>
                    </div>
                    <!--table结束-->
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="open">
    {{# if(d.admin_id==1){ }}
    <input type="checkbox" disabled name="is_open" value="{{d.admin_id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="open" checked>
    {{# }else{  }}
    <input type="checkbox" name="is_open" value="{{d.admin_id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="open" {{ d.is_open == 1 ? 'checked' : '' }}>
    {{# } }}
</script>

<script type="text/html" id="channel">
    {{# if(d.admin_id==1){ }}
    <input type="checkbox" disabled name="is_channel" value="{{d.admin_id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="open" checked>
    {{# }else{  }}
    <input type="checkbox" name="is_channel" value="{{d.admin_id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="channel" {{ d.is_channel == 1 ? 'checked' : '' }}>
    {{# } }}
</script>
<script type="text/html" id="bar">
    <span class="layui-btn layui-btn-normal layui-btn-xs" onclick="openWindowOwn('add/adminRoleInfo.html?source=edit&id={{d.admin_id}}', '', 800, 800)">编辑</span>&nbsp;&nbsp;
    <span class="layui-btn layui-btn-warm layui-btn-xs" lay-event="del" >删除</span>&nbsp;&nbsp;
</script>
<script src="../Scripts/jquery-1.10.2.min.js"></script>
<script src="../Scripts/comm.js"></script>
<script src="../Content/laydate/laydate.js"></script>
<script src="../Content/layui-v2.5.4/layui/layui.js"></script>
<script type="text/javascript">
    let loading;
    var tableIn;
    layui.use(['table', 'form'], function () {
        var table = layui.table, form = layui.form, $ = layui.jquery;
       tableIn = table.render({
            elem: '#list',
            url: qp_url + 'admin/auth/adminList?token=' + getStorage('token'),
            method: 'get',
            response: { //res 即为原始返回的数据
                statusName: 'status',
                statusCode: 1,
                // msgName: 'msg',
                // dataName: 'data',
            },
            parseData: function (res) {
                console.log(res)
                return {
                    "status": res.status, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析数据长度 ,需要数据库返回
                    "data": res.data.data //解析数据列表
                };
            },
            title: '管理员列表',
            cols: [[
                {field: 'admin_id', title: '编号', width: 60, fixed: true}
                , {field: 'username', title: '用户名', width: 150}
                , {field: 'title', title: '用户组', width: 200}
                , {field: 'email', title: '邮箱', width: 200}
                , {field: 'tel', title: '联系电话', width: 150}
                , {field: 'ip', title: 'IP地址', width: 150, hide: true}
                , {field: 'is_open', title: '状态', width: 150, toolbar: '#open'}
                , {field: 'is_channel', title: '是否代理', width: 150, toolbar: '#channel'}
                , {
                    title: '操作',minWidth:200,fixed:'right',toolbar:'#bar'
                }
            ]]
        });
        form.on('switch(open)', function (obj) {
            loading = layer.load(1, {shade: [0.1, '#fff']});
            var id = this.value;
            var is_open = obj.elem.checked === true ? 1 : 0;
            $.post(qp_url+'/admin/auth/adminState', {'id': id, 'is_open': is_open,'token': getStorage('token')}, function (res) {
                layer.close(loading);
                typeof res == 'string' ? res = JSON.parse(res) : ''
                console.log(res)
                if (res.status == 1) {
                    layer.msg(res.msg, {time: 1000, icon: 1});
                } else {
                    layer.msg(res.msg, {time: 1000, icon: 2});
                    return false;
                }
            })
        });
        form.on('switch(channel)', function (obj) {
            loading = layer.load(1, {shade: [0.1, '#fff']});
            var id = this.value;
            var is_channel = obj.elem.checked === true ? 1 : 0;
            $.post(qp_url+'/admin/auth/adminStateChannel', {'id': id, 'is_channel': is_channel}, function (res) {
                layer.close(loading);
                typeof res == 'string' ? res = JSON.parse(res) : ''
                console.log(res)
                if (res.status == 1) {
                    layer.msg(res.msg, {time: 1000, icon: 1});
                } else {
                    layer.msg(res.msg, {time: 1000, icon: 2});
                    return false;
                }
            })
        });
        table.on('tool(list)', function (obj) {
            console.log(obj)
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('你确定要删除吗？', function (index) {
                    $.ajax({
                        type: 'POST',
                        url: qp_url + 'admin/auth/adminDel',
                        dataType: "json",
                        data: {
                            token:getStorage('token'),
                            admin_id: data.admin_id
                        },
                        success: function (res) {
                            if (res.status == 1) {
                                obj.del();
                                layer.msg(res.msg)
                            } else {
                                layer.msg(res.msg)
                            }
                        }
                    })
                });
            }
        });

    });

    //添加和编辑完管理员信息后，重新加载表格
    function reloadTable() {
        tableIn.reload()
    }

    function openAll() {
        var treedata = treeGrid.getDataTreeList(tableId);
        treeGrid.treeOpenAll(tableId, !treedata[0][treeGrid.config.cols.isOpen]);
    }
</script>
</body>

</html>
