<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>后台管理-奖池记录</title>
    <link href="../Content/Admin/css/bootstrap-cerulean.min.css" rel="stylesheet" />
    <link href="../Content/Admin/css/charisma-app.css" rel="stylesheet" />
    <link rel="stylesheet" href="../Content/layui-v2.5.4/layui/css/layui.css">
    <link href="../Content/common.css" rel="stylesheet" />
    <style type="text/css">
        body{
            overflow-y: scroll!important;
        }
    </style>
</head>
<body class="backgroud">
<div id="content" class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-hand-right"></i> 你当前位置：后台管理 - 奖池记录 </h2>
                    <div class="box-icon">
                        <a href="#" class="btn btn-round btn-default" onclick="history.go(0);">
                            <i class="glyphicon glyphicon-repeat"></i>
                        </a>
                        <a href="#" class="btn btn-minimize btn-round btn-default">
                            <i class="glyphicon glyphicon-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="box-content" style="overflow: hidden; display: block;">
                    <ul class="nav nav-tabs" style="margin-top:10px;">
                        <li class="active" data-id="other"><a href="javascript:void(0)">奖池记录</a></li>
                        <li data-id="fish"><a href="javascript:void(0)">捕鱼奖池记录</a></li>
                    </ul>
                    <!--table开始-->
                    <div class="dataTables_wrapper table-center table1"  role="grid">
                        <table id="layTable" lay-filter="test"></table>
                    </div>
                    <div class="dataTables_wrapper table-center table2" role="grid" style="display: none;">
                        <table id="layTable_fish" lay-filter="test_fish"></table>
                    </div>
                    <!--table结束-->
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../Scripts/jquery-1.10.2.min.js"></script>
<script src="../Scripts/comm.js"></script>
<script src="../Content/laydate/laydate.js"></script>
<!--<script src="../Scripts/pagination.js"></script>-->
<script src="../Content/layui-v2.5.4/layui/layui.js"></script>
<script type="text/javascript">
    //使用layui的数据表格，需要定义一个全局变量存储选中行的数据
    // var selectRows=[];
    layui.use('table', function () {
        var table = layui.table;
        var table_fish = layui.table;
        //第一个实例
        table.render({
            elem: '#layTable'
            // , height: 512
            , url: qp_url + 'admin/kongzhi/jockpotRecode?token=' + getStorage('token') //数据接口
            ,request: {
                   pageName: 'pageIndex' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , response: { //res 即为原始返回的数据
                statusName: 'status',
                statusCode: 1,
                // msgName: 'msg',
                // dataName: 'data',
            },
            parseData: function (res) {
                return {
                    "status": res.status, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析数据长度 ,需要数据库返回
                    "data": res.data.data //解析数据列表
                };
            }
            , page: {
                'theme':'#2D2D3C'
            } //开启分页
            ,limits : [10,20,30,50,80,100]
            ,limit:10
            , cols: [[ //表头
               {field: 'ServerID', title: '房间ID'}
                , {field: 'GameRoomName', title: '房间名称'}
                , {field: 'StockScoreBefore', title: '修改前库存'}
                , {field: 'StockScore', title: '库存变化'}
                , {field: 'StockScoreAfter', title: '修改后库存'}
                , {field: 'AdminName', title: '操作人账号'}
                , {field: 'OperateTime', title: '操作时间'}
            ]]
            , done: function (res, curr, count) {
                $('th').css({'text-align': 'center'});
            }

        });
        //第二个实例
        table.render({
            elem: '#layTable_fish'
            // , height: 512
            , url: qp_url + 'admin/kongzhi/FishJockpotRecode?token=' + getStorage('token') //数据接口
            ,request: {
                pageName: 'pageIndex' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , response: { //res 即为原始返回的数据
                statusName: 'status',
                statusCode: 1,
                // msgName: 'msg',
                // dataName: 'data',
            },
            parseData: function (res) {
                return {
                    "status": res.status, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析数据长度 ,需要数据库返回
                    "data": res.data.data //解析数据列表
                };
            }
            , page: {
                'theme':'#2D2D3C'
            } //开启分页
            ,cellMinWidth:100
            ,limits : [10,20,30,50,80,100]
            ,limit:10
            , cols: [[ //表头
                {field: 'ServerID', title: '房间ID'}
                , {field: 'GameRoomName', title: '房间名称'}
                , {field: 'StockScore1Before', title: '小鱼修改前库存',minWidth:120}
                , {field: 'StockScore1', title: '小鱼库存变化',minWidth:120}
                , {field: 'StockScore1After', title: '小鱼修改后库存',minWidth:120}
                , {field: 'StockScore2Before', title: '中鱼修改前库存',minWidth:120}
                , {field: 'StockScore2', title: '中鱼库存变化',minWidth:120}
                , {field: 'StockScore2After', title: '中鱼修改后库存',minWidth:120}
                , {field: 'StockScore3Before', title: '大鱼修改前库存',minWidth:120}
                , {field: 'StockScore3', title: '大鱼库存变化',minWidth:120}
                , {field: 'StockScore3After', title: '大鱼修改后库存',minWidth:120}
                , {field: 'AdminName', title: '操作人账号'}
                , {field: 'OperateTime', title: '操作时间',minWidth:160}
            ]]
            , done: function (res, curr, count) {
                $('th').css({'text-align': 'center'});
            }

        });
    });
    $('.nav li').click(function () {
        var id = $(this).data().id;
        $(this).addClass("active").siblings().removeClass("active");
        switch (id) {
            case 'other':
                $('.table1').show();
                $('.table2').hide();
                break;
            case 'fish':
                $('.table1').hide();
                $('.table2').show();
                break;
        }
    })
</script>
</body>
</html>
