<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>用户系统 - 金币记录</title>
    <link href="../Content/Admin/css/bootstrap-cerulean.min.css" rel="stylesheet"/>
    <link href="../Content/Admin/css/charisma-app.css" rel="stylesheet"/>
    <link href="../Content/common.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../Content/layui-v2.5.4/layui/css/layui.css">
    <script src="../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../Content/laydate/laydate.js"></script>
    <script src="../Scripts/comm.js"></script>
    <script src="../Scripts/pagination.js"></script>
    <script src="../Content/layui-v2.5.4/layui/layui.js"></script>
    <script src="../Scripts/vue.min.js"></script>
    <style type="text/css">
        body {
            overflow-y: scroll !important;
        }
    </style>
</head>
<body>
<div id="content" class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-hand-right"></i> 你当前位置：用户系统 - 金币记录 </h2>
                    <div class="box-icon">
                        <a href="#" class="btn btn-round btn-default" onclick="history.go(0);">
                            <i class="glyphicon glyphicon-repeat"></i>
                        </a>
                        <a href="#" class="btn btn-minimize btn-round btn-default">
                            <i class="glyphicon glyphicon-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <ul class="media nav nav-tabs" style="display: none">
                    <li>
                        <a :href="'AccountsInfo.html?param='+userID+'&curTab=0'" title="">基本信息</a>
                    </li>
                    <li style="display: none;">
                        <a :href="'AccountsInfo.html?param='+userID+'&curTab=1'" title="">详细信息</a>
                    </li>
                    <li>
                        <a :href="'AccountsInfo.html?param='+userID+'&curTab=2'" title="">财富信息</a>
                    </li>
                    <li>
                        <a :href="'AccountsInfo.html?param='+userID+'&curTab=3'" title="">记录信息</a>
                    </li>
                    <li>
                        <a :href="'RecordDrawInfoList.html?param='+userID" title="">游戏记录</a>
                    </li>
                    <li>
                        <a :href="'ShareInfoList.html?param='+userID" title="">充值记录</a>
                    </li>
                    <li class="active">
                        <a :href="'RecordGlodList.html?param='+userID" title="">金币流水</a>
                    </li>
                    <li>
                        <a :href="'RecordUserInoutList.html?param='+userID" title="">进出记录</a>
                    </li>
                    <li>
                        <a :href="'tuiGuang.html?param='+userID" title="">推广</a>
                    </li>
                    <li>
                        <a :href="'shuiShouJiLu.html?param='+userID" title="">税收记录</a>
                    </li>
                </ul>
                <div class="box-content" style="overflow: hidden; display: block;">
                    <!--查询栏开始-->
                    <div class="alert alert-info">
                        <ul class="list-group">

                            <li class="list-group-item">
                                <ul class="list-inline cursor-style">
                                    <li>
                                        玩家账号：
                                    </li>
                                    <!--                                    直接点击侧边栏进入-->
                                    <li id="jbjl" style="display: none">
                                        <input type="text" id="txtAccount" class="form-control input-sm input-width-200"
                                               placeholder="请输入账号"/>
                                    </li>
                                    <!--                                    从用户信息的金币流水进入-->
                                    <li id="jbls" style="display: none">

                                    </li>
                                </ul>
                            </li>
                            <li class="list-group-item mb5">
                                <ul class="list-inline cursor-style">
                                    <li>
                                        游戏：
                                    </li>
                                    <li>
                                        <select class="form-control input-sm" id="ddlRecordType1">
                                            <option value="0">==请选择游戏==</option>
                                            <option value="1">通比牛牛</option>
                                            <option value="2">斗地主</option>
                                            <option value="3">红黑大战</option>
                                        </select>
                                    </li>
                                    <li>
                                        变化类型：
                                    </li>
                                    <li>
                                        <select class="form-control input-sm" id="ddlRecordType">
                                            <option value="0">==请选择金币变化类型==</option>
                                            <option value="1">注册赠送</option>
                                            <option value="2">低保赠送</option>
                                            <option value="3">签到赠送</option>
                                            <option value="6">在线时长赠送</option>
                                            <option value="7">任务奖励</option>
                                            <option value="8">其他任务奖励</option>
                                            <option value="15">后台修改</option>
                                            <option value="43">抽奖获得(扣税后)</option>
                                            <option value="47">输赢</option>
                                            <option value="48">充值</option>
                                            <option value="49">玩家提现</option>
                                            <option value="50">提现被拒返还</option>
                                            <!--                                            <option value="42">线下充值</option>-->

                                            <option value="12">充值携带金币</option>
                                            <option value="12">VIP充值</option>
                                            <option value="12">专享闪付充值</option>


                                            <option value="12">分享赠送</option>
                                            <option value="40">推广结算</option>
                                            <option value="10">比赛奖励</option>
                                            <option value="33">官网代理充值玩家</option>
                                            <option value="53">金币清零</option>
                                            <option value="55">私人房主抽税</option>
                                            <option value="32">绑手机赠送</option>
                                            <option value="56">佣金提现</option>
                                        </select>
                                    </li>
                                    <li>
                                        金币变化大于：
                                    </li>
                                    <li>
                                        <input type="text" id="scorce" class="form-control input-sm input-width-150"
                                               onkeyup="if(isNaN(value))execCommand('undo');" placeholder="请输入整数值"/>
                                    </li>
                                    <li>
                                        查询日期：
                                        <input id="txtStartDate" class="input-width-150"
                                               type="text" readonly="readonly"
                                               placeholder="请选择" value=""/>至
                                        <input id="txtEndDate" class="input-width-150"
                                               type="text" readonly="readonly"
                                               placeholder="请选择" value=""/>
                                    </li>
                                    <li><a class="btn btn-outline-success search" href="#" id="btnquery"><i
                                            class="glyphicon glyphicon-zoom-in icon-white"></i>查询</a></li>

                                </ul>
                            </li>
                        </ul>
                        符合条件的金币变化总额:<label style="color:red;" id="lbltotal"></label>金币
                    </div>
                    <!--查询栏结束-->
                    <div class="row">
                        <div class="col-md-6 col-lg-6" style="padding-bottom:5px; padding-top:5px;">
                            <div> 注册赠送:<label style="color:red;" id="registerScore">0</label>金币
                                绑定赠送:<label style="color:red;" id="bindScore">0</label>金币
                                签到赠送:<label style="color:red;" id="signInScore">0</label>金币
                                财神任务:<label style="color:red;" id="taskScore">0</label>金币</div>
                        </div>
                        <div class="col-md-6 col-lg-6" style="padding-bottom:5px; padding-top:5px; text-align:right;">
                            <div class="btn-group">
                                <button type="button" id="btnQueryTD" class="btn btn-outline-primary"><i
                                        class="glyphicon glyphicon-align-left icon-white"></i>今天
                                </button>
                                <button type="button" id="btnQueryYD" class="btn btn-outline-primary"><i
                                        class="glyphicon glyphicon-align-center icon-white"></i>昨天
                                </button>
                                <button type="button" id="btnQueryTW" class="btn btn-outline-primary"><i
                                        class="glyphicon glyphicon-align-right icon-white"></i>本周
                                </button>
                                <button type="button" id="btnQueryYW" class="btn btn-outline-primary"><i
                                        class="glyphicon glyphicon-align-justify icon-white"></i>上周
                                </button>
                                <button type="button" id="btnQueryTM" class="btn btn-outline-primary"><i
                                        class="glyphicon glyphicon-indent-left icon-white"></i>本月
                                </button>
                                <button type="button" id="btnQueryYM" class="btn btn-outline-primary"><i
                                        class="glyphicon glyphicon-indent-right icon-white"></i>上月
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--table开始-->
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper table-center" role="grid">
                        <table id="layTable" lay-filter="test"></table>
                        <table style="display: none"
                               class="table table-striped table-bordered bootstrap-datatable datatable responsive dataTable"
                               id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                            <thead>
                            <tr role="row">
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0"
                                    rowspan="1" colspan="1">玩家账号
                                </th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0"
                                    rowspan="1" colspan="1">变化前携带金币
                                </th>

                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0"
                                    rowspan="1" colspan="1">变化前银行金币
                                </th>

                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0"
                                    rowspan="1" colspan="1">金币变化数
                                </th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0"
                                    rowspan="1" colspan="1">变化类型
                                </th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0"
                                    rowspan="1" colspan="1">记录时间
                                </th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0"
                                    rowspan="1" colspan="1">记录IP
                                </th>
                            </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all"></tbody>
                        </table>
                        <!--分页控件-->
                        <div class="row">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6">
                                <div class="dataTables_paginate paging_bootstrap pagination" style="float:right;">
                                    <ul class="pagination" id="pagin"></ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--table结束-->
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var param = getUrlParams('param')
    var account = getUrlParams('account')
    console.log(param);
    if (param) {
        $('.nav-tabs').show()
        $('#jbls').show()
    } else {
        $('#jbjl').show()
    }
    var pageObj = {};
    var postData = {};//搜索条件
    //使用layui的数据表格，需要定义一个全局变量存储选中行的数据
    var myVue = new Vue({
        el: '#content',
        data: {
            userID: param || ''
        }
    })
    var selectRows = [];
    layui.use('table', function () {
        var table = layui.table;
        //第一个实例
        table.render({
            elem: '#layTable'
            // , height: 512
            , url: qp_url + 'admin/Account/GetRecordGlodList' //数据接口
            , where: {
                token: getStorage('token'),
                UserID: param || '',
                StartDate: '',
                EndDate: ''
            }
            , request: {
                pageName: 'pageIndex' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , response: { //res 即为原始返回的数据
                statusName: 'status',
                statusCode: 1,
                // msgName: 'msg',
                // dataName: 'data',
            },
            parseData: function (res) {
                console.log(res)
                return {
                    "status": res.status, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.data //解析数据列表
                };

            }
            , cellMinWidth: 100
            , page: {
                'theme': '#2D2D3C'
            } //开启分页
            , cols: [[ //表头
                {field: 'RecordID', title: 'ID'}
                , {field: 'UserID', title: '用户ID'}
                , {field: 'Accounts', title: '玩家账号'}
                , {field: 'PreScore', title: '变化前携带金币'}
                , {field: 'LastScore', title: '变化后携带金币'}
                , {field: 'PreInsureScore', title: '变化前银行金币',minWidth:150}
                , {field: 'LastInsureScore', title: '变化后银行金币',minWidth:150}
                , {field: 'PresentScore', title: '金币变化数'}
                , {field: '', title: '变化后金币'}
                , {field: 'TypeName', title: '交易类型'}
                , {field: 'CollectDate', title: '记录时间'}
                , {field: 'IPAddress', title: '记录IP'}
                , {field: '', title: '所属游戏'}
            ]]
            , done: function (res, curr, count) {
                $('th').css({'text-align': 'center'});
            }
        });
        //监听复选框选择事件
        table.on('checkbox(test)', function (obj) {
            var checkStatus = table.checkStatus('layTable'); //idTest 即为基础参数 id 对应的值
            selectRows = checkStatus.data
        });
    });

    $(document).ready(function () {
        //时间选择器
        laydate.render({
            elem: '#txtStartDate'
            , type: 'datetime'
            , theme: '#3A87AD'
        });
        laydate.render({
            elem: '#txtEndDate'
            , type: 'datetime'
            , theme: '#3A87AD'
        });
        docReady();
    });

    function docReady() {
        // //加载数据
        // postData.pageSize = parseInt($("#pagecount").val());
        // postData.pageIndex = 1;
        // postData.UserID = parseInt('0');
        // AjaxSearch(postData);
        //收放事件
        $('.btn-minimize').click(function (e) {
            e.preventDefault();
            var $target = $(this).parent().parent().next('.box-content');
            if ($target.is(':visible')) $('i', $(this)).removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
            else $('i', $(this)).removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
            $target.slideToggle();
        });
        $("#btnquery").click(function (e) {
            e.preventDefault();
            var TypeID = parseInt($("#ddlRecordType").val());
            if (TypeID > 0) {
                postData.TypeID = TypeID;
            } else {
                postData.TypeID = 0;
            }

            var scorce = $("#scorce").val().trim();
            if (scorce != "") {
                postData.Scorce = scorce;
            }
            var Account = $("#txtAccount").val();
            if (Account != "") {
                postData.Account = Account;
            }
            postData.pageSize = parseInt($("#pagecount").val());
            AjaxSearch(postData);
        });

        //选择页码
        $("#pagecount").change(function (e) {
            postData.pageSize = parseInt($(this).val());
            postData.pageIndex = 1;
            AjaxSearch(postData);
        });

        //今天查询
        $("#btnQueryTD").click(function (e) {
            postData.Type = 2;
            AjaxSearch(postData);
        });
        //昨天查询
        $("#btnQueryYD").click(function (e) {
            postData.Type = 3;
            AjaxSearch(postData);
        });
        //本周查询
        $("#btnQueryTW").click(function (e) {
            postData.Type = 4;
            AjaxSearch(postData);
        });
        //上周查询
        $("#btnQueryYW").click(function (e) {
            postData.Type = 5;
            AjaxSearch(postData);
        });
        //本月查询
        $("#btnQueryTM").click(function (e) {
            postData.Type = 6;
            AjaxSearch(postData);
        });
        //上月查询
        $("#btnQueryYM").click(function (e) {
            postData.Type = 7;
            AjaxSearch(postData);
        });

    }

    function AjaxSearch(postData) {
        var txtStartDate = $("#txtStartDate").val().trim();
        var txtEndDate = $("#txtEndDate").val().trim();
        if (txtStartDate != "" && txtEndDate != "") {
            if (StrToDateTime(txtEndDate) < StrToDateTime(txtStartDate)) {
                alert("开始日期不能大于结束时间");
                return false;
            }
        }
        postData.StartDate = txtStartDate;
        postData.EndDate = txtEndDate;
        $('#pagin').paging("/Account/GetRecordGlodList", postData, CreatTableBody, postData.pageIndex);
    }

    function CreatTableBody(jsondata, pageTotal, pageCount, pageIndex, statistics) {
        $("#lbltotal").html(statistics.Sum);
        var html = "";
        if (jsondata != null && jsondata.length > 0) {
            $.each(jsondata, function (i, item) {
                html += stringFormat("<tr>");
                html += (postData.UserID == 0 ? "<td>" + item.Account + "</td>" : "");
                html += stringFormat("<td>{0}</td>", item.PreScore);
                //html += stringFormat("<td>{0}</td>", item.LastScore);
                html += stringFormat("<td>{0}</td>", item.PreInsureScore);
                //html += stringFormat("<td>{0}</td>", item.LastInsureScore);
                html += stringFormat("<td>{0}</td>", item.PresentScore);
                html += stringFormat("<td>{0}</td>", item.TypeName);
                html += stringFormat("<td>{0}</td>", item.CollectDate);
                html += stringFormat("<td>{0}</td>", item.IPAddress);
                html += "</tr>";
            });
        }
        $("#DataTables_Table_0_wrapper tbody").html(html);
        $("#DataTables_Table_0_info").html(stringFormat("显示 {0} 至 {1} 共 {2} 条", ((pageIndex - 1) * postData.pageSize + 1), ((pageIndex * postData.pageSize) < pageTotal ? (pageIndex * postData.pageSize) : pageTotal), pageTotal));
    }

    //字符串格式化
    function stringFormat() {
        if (arguments.length == 0)
            return null;
        var str = arguments[0];
        for (var i = 1; i < arguments.length; i++) {
            var re = new RegExp('\\{' + (i - 1) + '\\}', 'gm');
            str = str.replace(re, arguments[i]);
        }
        return str;
    }
</script>
</body>
</html>
