<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>后台管理-每日输赢</title>
    <link href="../Content/Admin/css/bootstrap-cerulean.min.css" rel="stylesheet"/>
    <link href="../Content/Admin/css/charisma-app.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../Content/layui-v2.5.4/layui/css/layui.css">
    <link href="../Content/common.css" rel="stylesheet"/>
    <style type="text/css">
        body{
            overflow-y: scroll!important;
        }
        .list-group-item ul li {
            margin: 5px 0;
        }
    </style>
</head>

<body class="backgroud">
<div id="content" class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-hand-right"></i> 你当前位置：后台管理-每日输赢 </h2>
                    <div class="box-icon">
                        <a href="#" class="btn btn-round btn-default" onclick="history.go(0);">
                            <i class="glyphicon glyphicon-repeat"></i>
                        </a>
                        <a href="#" class="btn btn-minimize btn-round btn-default">
                            <i class="glyphicon glyphicon-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="box-content" style="overflow: hidden; display: block;">
                    <!--查询栏开始-->
                    <div class="alert alert-info">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <ul class="list-inline cursor-style">
                                    <li>游戏分类：</li>
                                    <li>
                                        <select name="select" id="ddlGame" class="form-control">
                                            <option value="0" selected="selected">全部游戏</option>
                                        </select>
                                        </select>
                                    </li>
                                    <li>日期查询：</li>
                                    <li>
                                        <input id="txtStartDate" class="input-width-150" type="text"
                                               readonly="readonly" placeholder="请输入开始时间"/>-
                                        <input id="txtEndDate" class="input-width-150" type="text"
                                               readonly="readonly" placeholder="请输入结束时间"/>
                                    </li>
                                    <li>
                                        <a id="btnQuery" class="btn btn-outline-success search" href="#"><i
                                                class="glyphicon glyphicon-zoom-in icon-white"></i>查询</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--查询栏结束-->
                    <div class="row" style="margin-right: 0;">
                        <div class="col-md-12 col-lg-12 top-tip" style="padding-bottom:5px; padding-top:5px;">
                            <div class="btn-group btn-group">
                                每日输赢：<span id="dayWinTotal">0</span>
                                每日税收：<span id="RevenueTotal">0</span>
                                每日系统输赢：<span id="mryxsyTotal">0</span>
                            </div>
                        </div>
                    </div>
                    <!--table开始-->
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper table-center" role="grid">
                        <table id="layTable" lay-filter="test"></table>
                    </div>
                    <!--table结束-->
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../Scripts/jquery-1.10.2.min.js"></script>
<script src="../Scripts/comm.js"></script>
<script src="../Content/laydate/laydate.js"></script>
<!--<script src="../Scripts/pagination.js"></script>-->
<script src="../Content/layui-v2.5.4/layui/layui.js"></script>
<script type="text/javascript">
    var pageObj = {};
    var postData = {};//搜索条件
    $(document).ready(function () {
        //时间选择器
        laydate.render({
            elem: '#txtStartDate'
            ,type:'date'
            ,value: new Date()
            , theme: '#00B4E5'
        });
        laydate.render({
            elem: '#txtEndDate'
            ,type:'date'
            ,value: new Date()
            , theme: '#00B4E5'
        });
        docReady()
    });

    var table;
    layui.use('table', function () {
        table = layui.table;

        //第一个实例
        table.render({
            elem: '#layTable'
            , id: 'layTable'
            , url: qp_url + 'admin/Analysis/dayStat' //数据接口
            , where: {
                sDate: Time.today().StartDate.substring(0,10),
                eDate: Time.today().EndDate.substring(0,10),
                KindID: 0,
                token:getStorage('token')
            }
            , request: {
                pageName: 'pageIndex' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , response: { //res 即为原始返回的数据
                statusName: 'status',
                statusCode: 1,
                // msgName: 'msg',
                // dataName: 'data',
            },
            parseData: function (res) {
                $('#dayWinTotal').html(res.data.dayWinTotal)
                $('#RevenueTotal').html(res.data.RevenueTotal)
                $('#mryxsyTotal').html(res.data.mryxsyTotal)
                if(res.status == 1){
                    res.data.list.forEach(function (item,index,array) {
                        item.userLever = parseFloat(item.userLever);
                        item.winPercent = parseFloat(item.winPercent);
                        item.Revenue = parseFloat(item.Revenue);
                        console.log(item.mryxsyPercent.charAt(item.mryxsyPercent.length-1));
                        if(item.mryxsyPercent.charAt(item.mryxsyPercent.length-1) == '%' && item.mryxsyPercent.length > 1){
                            item.mryxsyPercent = parseFloat(item.mryxsyPercent.substring(0,item.mryxsyPercent.length-1))
                        }
                    })
                }
                return {
                    "status": res.status, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析数据长度 ,需要数据库返回
                    "data": res.data.list //解析数据列表
                };
            }
            , page: {
                'theme': '#2D2D3C'
            } //开启分页
            , limits: [10, 20, 30, 50, 80, 100]
            , limit: 10
            , cellMinWidth: 110
            , cols: [[ //表头
                // {type: 'checkbox'}
                {field: 'GameKindName', title: '游戏名称'}
                , {field: 'GameRoomName', title: '房间名称', minWidth: 160}
                , {field: 'InsertTime', title: '日期', minWidth: 210}
                , {field: 'winCount', title: '<span title="当前房间，当前游戏赢钱的人数">赢钱人数</span>'}
                , {field: 'userTotal', title: '<span title="当前房间，当前游戏的人数">总人数</span>'}
                , {field: 'userLever', title: '<span title="每日输赢/游戏总人数">人均贡献</span>', sort: true}
                , {field: 'winPercent', title: '<span title="赢钱人数/游戏总人数">赢钱比例</span>', sort: true}
                , {field: 'dayWin', title: '<span title="当前房间，当前游戏赢钱输钱之和">系统每日输赢</span>', sort: true, minWidth: 130}
                , {field: 'systemWaste', title: '<span title="所有损耗之和">系统累计输赢</span>', sort: true, minWidth: 140,templet(d){
                    return parseFloat(d.systemWaste).formatMoney()
                    }}
                , {field: 'systemRevenue', title: '<span title="所有游戏税收之和">系统累计抽水</span>', sort: true, minWidth: 140,templet(d){
                        return parseFloat(d.systemRevenue).formatMoney()
                    }}
                , {field: 'Revenue', title: '<span title="当前房间，当前游戏税收之和">每日游戏抽水</span>', sort: true, minWidth: 130}
                , {field: 'mryxsy', title: '<span title="每日输赢+每日税收">每日游戏收益</span>', sort: true, minWidth: 130}
                , {field: 'mryxsyPercent', title: '<span title="每日游戏收益 / (系统累计输赢 + 系统累计抽水)">每日游戏收益占比</span>'
                    , sort: true, minWidth: 160,templet:function (d) {
                        return d.mryxsyPercent + '%'
                    }}
            ]]
            , done: function (res, curr, count) {
                $('th').css({'text-align': 'center'});
            }
        });
    });

    function docReady() {
        //获取游戏列表
        $.get(qp_url + 'admin/Gamecommon/GetGameList?token='+getStorage('token'), function (res) {
            if (res.status == 1) {
                var str = '';
                for (var i = 0; i < res.data.length; i++) {
                    let item = res.data[i];
                    str += `<option value="${item.KindID}">${item.KindName}</option>`
                }
                $('#ddlGame').append(str)
            }
        }, 'json');
        //日期查询
        $("#btnQuery").click(function (e) {
            var txtStartDate = $("#txtStartDate").val();
            var txtEndDate = $("#txtEndDate").val();
            postData.sDate = txtStartDate;
            postData.eDate = txtEndDate;
            postData.KindID = $('#ddlGame').val();
            table.reload('layTable', {
                where: postData,
                page: {
                    curr: 1
                }
            })
        });
    }
</script>
</body>

</html>
