<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>充值系统 - 每日汇总</title>
    <link href="../Content/Admin/css/bootstrap-cerulean.min.css" rel="stylesheet" />
    <link href="../Content/Admin/css/charisma-app.css" rel="stylesheet" />
    <link href="../Content/common.css" rel="stylesheet" />
    <link rel="stylesheet" href="../Content/layui-v2.5.4/layui/css/layui.css">
    <style type="text/css">
        body{
            overflow-y: scroll!important;
        }
    </style>
</head>
<body class="backgroud">
<div id="content" class="main-content">
    <div class="row">
        <div class="box-inner">
            <div class="col-md-12">
                <div class="box-inner">
                    <div class="box-header well" data-original-title="">
                        <h2><i class="glyphicon glyphicon-hand-right"></i> 你当前位置：充值系统 - 每日汇总 </h2>
                        <div class="box-icon">
                            <a href="#" class="btn btn-round btn-default" onclick="history.go(0);">
                                <i class="glyphicon glyphicon-repeat"></i>
                            </a>
                            <a href="#" class="btn btn-minimize btn-round btn-default">
                                <i class="glyphicon glyphicon-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="box-content tab-content" style="overflow: hidden; display: block;padding: 10px;">
                        <!--查询栏开始-->
                        <div class="alert alert-info">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <ul class="list-inline cursor-style">
                                        <li>日期查询：</li>
                                        <li>

                                            <input id="txtStartDate" class="input-width-150"
                                                   type="text" readonly="readonly"
                                                   value="" />&nbsp;&nbsp;至&nbsp;&nbsp;
                                            <input id="txtEndDate" class="input-width-150"
                                                   type="text" readonly="readonly" value="" />
                                        </li>
                                        <li>
                                            <a id="btnQuery" class="btn btn-outline-success search" href="#"><i class="glyphicon glyphicon-zoom-in icon-white"></i>查询</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!--查询栏结束-->
                        <!--table开始-->
                        <div class="dataTables_wrapper table-center" role="grid">
                            <table id="layTable" lay-filter="test"></table>
                        </div>
                        <!--table结束-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../Scripts/jquery-1.10.2.min.js"></script>
<script src="../Scripts/comm.js"></script>
<script src="../Content/laydate/laydate.js"></script>
<!--<script src="../Scripts/pagination.js"></script>-->
<script src="../Content/layui-v2.5.4/layui/layui.js"></script>
<script type="text/javascript">
    var pageObj = {};
    var postData = {};//搜索条件
    //使用layui的数据表格，需要定义一个全局变量存储选中行的数据
    var selectRows = [];
    var myTable;
    layui.use('table', function () {
        var table = layui.table;

        //第一个实例
        myTable = table.render({
            elem: '#layTable'
            // , height: 512
            , url: qp_url + 'admin/Filled/daySummary' //数据接口
            , where: {
                StartDate: Time.today().StartDate,
                EndDate: Time.today().EndDate,
                token:getStorage('token')
            }
            , request: {
                pageName: 'pageIndex' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , response: { //res 即为原始返回的数据
                statusName: 'status',
                statusCode: 1,
                // msgName: 'msg',
                // dataName: 'data',
            },
            parseData: function (res) {
                console.log(res)
                return {
                    "status": res.status, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析数据长度 ,需要数据库返回
                    "data": res.data.list //解析数据列表
                };
            }
            , page: {
                'theme': '#2D2D3C'
            } //开启分页
            , limits: [10, 20, 30, 50, 80, 100]
            , limit: 10
            , cellMinWidth: 130
            , cols: [[ //表头
                {field: 'ApplyDate', width: 170, title: '日期'}
                , {field: 'orderCount', title: '充值订单数量'}
                , {field: 'amountTotal', title: '充值金额'}
                , {field: 'ZFB', title: '支付宝充值金额'}
                , {field: 'WX', title: '微信充值金额'}
                , {field: 'WY', title: '银联充值金额'}
                , {field: 'offline', title: 'VIP充值金额'}
                , {field: 'shanxianfu', title: '专享闪付充值金额'}
                , {field: 'applyOrderCount', title: '兑换订单数'}
                , {field: 'applyTotal', title: '兑换订单金额'}
                , {field: 'successTotal', title: '<span title="含手续费">成功兑换金额</span>'}
                , {field: 'Revenue', title: '游戏税收'}
            ]]
            , done: function (res, curr, count) {
                $('th').css({'text-align': 'center'});
            }

        });
    });
    $(document).ready(function () {
        //时间选择器
        laydate.render({
            elem: '#txtStartDate'
            ,value: new Date()
            ,theme:'#00B4E5'
        });
        laydate.render({
            elem: '#txtEndDate'
            ,value: new Date()
            ,theme:'#00B4E5'
        });
        docReady();
    });
    function docReady() {
        // //加载数据
        //
        // //收放事件
        // $('.btn-minimize').click(function (e) {
        //     e.preventDefault();
        //     var $target = $(this).parent().parent().next('.box-content');
        //     if ($target.is(':visible')) $('i', $(this)).removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
        //     else $('i', $(this)).removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
        //     $target.slideToggle();
        // });
        // var postData = {}
        //日期查询
        $("#btnQuery").click(function (e) {
            var istrue = true;
            var txtStartDate = $("#txtStartDate").val();
            var txtEndDate = $("#txtEndDate").val();
            if(!txtStartDate || !txtEndDate){
                return layer.msg('请选择日期',{icon: 2,time: 2000})
            }
            if (txtStartDate != "" && txtEndDate != "") {
                if (StrToDateTime(txtEndDate) < StrToDateTime(txtStartDate)) {
                    istrue = false;
                    alert("开始日期不能大于结束时间");
                    return false;
                }
            }
            if (istrue) {
                if (txtStartDate != "" && txtEndDate != "") {
                    postData.StartDate = txtStartDate + ' 00:00:00';
                    postData.EndDate = txtEndDate + ' 23:59:59';
                }
                postData.DateType = 5;
                AjaxSearch(postData);
            }
        });
    }
    //搜索事件
    function AjaxSearch(postData) {
        console.log(postData)
        myTable.reload({
            where: {
                StartDate: postData.StartDate,
                EndDate: postData.EndDate
            },
            page: {
                curr: 1
            }
        })
        // $('#pagin').paging("/DataAnalysis/GetGameRecord", postData, CreatTableBody, postData.pageIndex);
    }
    function StrToDateTime(timestr) {
        var dt = new Date(timestr.replace("-", "/").replace("-", "/"));
        return dt;
    }
    //绑定数据
    function CreatTableBody(jsondata, pageTotal, pageCount, pageIndex, statistics, extObj) {
        var html = "";
        if (jsondata != null && jsondata.length > 0) {
            $.each(jsondata, function (i, item) {
                html += stringFormat("<tr id=\"tr{0}\">", item.DrawID);
                html += stringFormat("<td>{1}&nbsp;<img id=\"img{0}\" src=\"/Content/images/down.gif\" style=\"cursor: pointer\" alt=\"查看同桌玩家\" title=\"查看同桌玩家\" onclick=\"ShowInfo({0})\" /></td>", item.DrawID, item.InsertTime);
                html += stringFormat("<td>{0}</td>", item.GameKindName);
                html += stringFormat("<td>{0}</td>", item.GameRoomName);
                html += stringFormat("<td>{0}</td>", item.TableID);
                html += stringFormat("<td>{0}</td>", item.UserCount);
                html += stringFormat("<td>{0}</td>", item.AndroidCount);
                html += stringFormat("<td>{0}</td>", item.Waste);
                html += stringFormat("<td>{0}</td>", item.Revenue);
                //html += stringFormat("<td>{0}</td>", item.UserMedal);
                html += stringFormat("<td>{0}</td>", item.StartTime);
                html += stringFormat("<td>{0}</td>", item.ConcludeTime);
                html += "</tr>";
            });
        }
        $("#DataTables_Table_0_wrapper tbody").html(html);
        $("#DataTables_Table_0_info").html(stringFormat("显示 {0} 至 {1} 共 {2} 条", ((pageIndex - 1) * postData.pageSize + 1), ((pageIndex * postData.pageSize) < pageTotal ? (pageIndex * postData.pageSize) : pageTotal), pageTotal));
        $("#WasteTotal").text(extObj.WasteTotal);
        $("#RevenueTotal").text(extObj.RevenueTotal);
    }
    function ShowInfo(Id) {
        pageObj.drawID = Id;
        var url = $("#img" + Id).attr("src").trim();
        if (url == "/Content/images/down.gif") {
            $("#img" + Id).attr("src", "/Content/images/up.gif");
            AjaxSubmit("/DataAnalysis/GetUserGameRecord", pageObj, callBack, "del");
        } else {
            $("#img" + Id).attr("src", "/Content/images/down.gif");
            $("#tr" + pageObj.drawID).next().remove();
        }

    }
    //回调函数
    function callBack(jsonData, fname) {
        switch (fname) {
            case "del":
                var html = "<tr><td colspan=\"11\"><table class=\"table table-striped table-bordered bootstrap-datatable datatable responsive dataTable\">";
                html += "<thead><tr role=\"row\">";
                html += " <th class=\"sorting\" role=\"columnheader\" rowspan=\"1\" colspan=\"1\">帐号</th>";
                html += " <th class=\"sorting\" role=\"columnheader\" rowspan=\"1\" colspan=\"1\">昵称</th>";
                html += " <th class=\"sorting\" role=\"columnheader\" rowspan=\"1\" colspan=\"1\">游戏ID</th>";
                html += " <th class=\"sorting\" role=\"columnheader\" rowspan=\"1\" colspan=\"1\">是否机器人</th>";
                html += " <th class=\"sorting\" role=\"columnheader\" rowspan=\"1\" colspan=\"1\">椅子编号</th>";
                html += " <th class=\"sorting\" role=\"columnheader\" rowspan=\"1\" colspan=\"1\">输赢积分</th>";
                html += " <th class=\"sorting\" role=\"columnheader\" rowspan=\"1\" colspan=\"1\">税收/服务费</th>";
                //html += " <th class=\"sorting\" role=\"columnheader\" rowspan=\"1\" colspan=\"1\">元宝数目</th>";
                html += " <th class=\"sorting\" role=\"columnheader\" rowspan=\"1\" colspan=\"1\">游戏时长</th>";
                html += " <th class=\"sorting\" role=\"columnheader\" rowspan=\"1\" colspan=\"1\">插入时间</th>";
                html += "</tr></thead>";
                html += "<tbody role=\"alert\">";
                $.each(jsonData, function (i, item) {
                    html += "<tr><td>" + item.Accounts + "</td><td>" + item.NickName + "</td><td>" + item.GameID + "</td><td>" + item.IsAndroid + "</td><td>" + item.ChairID + "</td><td>" + item.Score + "</td><td>" + item.Revenue + "</td><td>" + item.PlayTimeCount + "</td><td>" + item.InsertTime + "</td></tr>";
                });
                html += "</tbody>";
                html += "</table></td></tr>";
                $("#tr" + pageObj.drawID).after(html);
                break;
        }
    }
    //字符串格式化
    function stringFormat() {
        if (arguments.length == 0)
            return null;
        var str = arguments[0];
        for (var i = 1; i < arguments.length; i++) {
            var re = new RegExp('\\{' + (i - 1) + '\\}', 'gm');
            str = str.replace(re, arguments[i]);
        }
        return str;
    }
</script>
</body>
</html>
