<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>客服中心 - 收款方式管理</title>
    <link href="../Content/Admin/css/bootstrap-cerulean.min.css" rel="stylesheet"/>
    <link href="../Content/Admin/css/charisma-app.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../Content/layui-v2.5.4/layui/css/layui.css">
    <link href="../Content/common.css" rel="stylesheet"/>
    <script src="../Content/layui-v2.5.4/layui/layui.js"></script>
    <script src="../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../Scripts/comm.js"></script>
    <style type="text/css">
    </style>
</head>
<body>
<div id="content" class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-hand-right"></i> 你当前位置：客服中心 - 收款方式管理 </h2>
                    <div class="box-icon">
                        <a href="#" class="btn btn-round btn-default" onclick="history.go(0);">
                            <i class="glyphicon glyphicon-repeat"></i>
                        </a>
                        <a href="#" class="btn btn-minimize btn-round btn-default">
                            <i class="glyphicon glyphicon-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="box-content" style="overflow: hidden; display: block;">
                    <!--查询栏开始-->
                    <div class="alert alert-info">
                        <form class="layui-form" method="post" action="#" lay-filter="component-form-element">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-1">充值问候语：</div>
                                    <div class="col-xs-3">
                                        <textarea id="payment" class="form-control"  rows="5"
                                              maxlength="256"></textarea>
                                    </div>
                                    <div class="col-xs-1">充值提示语：</div>
                                    <div class="col-xs-3">
                                        <textarea id="payList" class="form-control"  rows="5"
                                                  maxlength="256"></textarea>
                                    </div>
                                    <div class="col-xs-2">
                                        <a id="save" class="btn btn-outline-success" style="margin-top: 5px;"> <i class="glyphicon glyphicon-floppy-save icon-white"></i> 保存 </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        </form>
                    </div>
                    <!--查询栏结束-->
                    <div class="row">
                        <div class="col-md-10" style="padding-bottom:5px; padding-top:5px; ">
                            <ul class="list-inline cursor-style">
                                <li><a onclick="openWindowOwn('add/shouKuanFangShi.html?type=add','',800,600)" class="btn btn-outline-success"> <i
                                        class="glyphicon glyphicon-plus icon-white"></i>新增 </a></li>
                                <li>
                                    <button type="button" class="btn btn-danger" onclick="Del()"><i
                                            class="glyphicon glyphicon-trash icon-white"></i>删除
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--table开始-->
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper table-center" role="grid">
                        <table id="layTable" lay-filter="test"></table>
                    </div>
                    <!--table结束-->
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="open">
    <input type="checkbox" name="is_open" value="{{d.id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="open" {{
           d.status== 1 ? 'checked' : '' }}>
</script>
<script type="text/html" id="order">
    <input name="{{d.id}}" data-id="{{d.id}}" class="list_order layui-input" style="height: 28px;" value="{{d.sort}}"
           size="10"/>
</script>
<script type="text/html" id="bar">
    <span class="layui-btn layui-btn-normal layui-btn-xs"
          onclick="openWindowOwn('add/shouKuanFangShi.html?type=edit&id={{d.id}}', '', 800, 600)">编辑</span>&nbsp;&nbsp;
    <span class="layui-btn layui-btn-warm layui-btn-xs" lay-event="del">删除</span>&nbsp;&nbsp;
</script>
<script type="text/javascript">
    var pageObj = {};
    var type = 0;
    var myTable;
    //使用layui的数据表格，需要定义一个全局变量存储选中行的数据
    var selectRows = [];
    layui.use(['table','form'], function () {
        var table = layui.table;
        var form = layui.form;
        form.render()
        //第一个实例
        myTable = table.render({
            elem: '#layTable'
            // , height: 512
            , url: request_url2 + 'systemSet' //数据接口
            , method: 'post'
            , where: {
                doing: 'select'
            }
            , request: {
                pageName: 'pageIndex' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , response: { //res 即为原始返回的数据
                statusName: 'status',
                statusCode: 1,
                // msgName: 'msg',
                // dataName: 'data',
            },
            parseData: function (res) {
                console.log(res)
                $('#payment').val(res.greeting.payment)
                $('#payList').val(res.greeting.payList)
                return {
                    "status": res.status, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析数据长度 ,需要数据库返回
                    "data": res.data.data //解析数据列表
                };
            }
            // , page: {
            //     'theme': '#2D2D3C'
            // } //开启分页
            // , limits: [10, 20, 30, 50, 80, 100]
            // , limit: 10
            , cellMinWidth: 120
            , cols: [[ //表头
                {field: 'id', title: 'ID', width: 50}
                , {field: 'type', title: '收款类型'}
                , {field: 'title', title: '收款标题'}
                , {field: 'datetime', title: '添加时间', width: 200}
                , {field: 'status', title: '显示状态',width: 100, toolbar: '#open'}
                , {field: 'sort', title: '排序',width: 100, toolbar: '#order'}
                , {
                    field: 'null', title: '操作', width: 150, templet: '#bar'
                }
            ]]
            , done: function (res, curr, count) {
                $('th').css({'text-align': 'center'});
            }

        });
        $('body').on('blur', '.list_order', function () {
            loading = layer.load(1, {shade: [0.1, '#fff']});
            var id = $(this).attr('data-id');
            var sort = $(this).val();
            $.post(request_url2 + 'systemSet', {
                id: id,
                sort: sort,
                doing: 'paymentSort'
            }, function (res) {
                console.log(res)
                layer.close(loading);
                if (res.status == 1) {
                    layer.msg(res.msg, {time: 1000, icon: 1}, function () {
                        myTable.reload()
                    });
                } else {
                    layer.msg(res.msg, {time: 1000, icon: 2});
                    table.render();
                }
            }, 'json')
        })
        form.on('switch(open)', function (obj) {
            loading = layer.load(1, {shade: [0.1, '#fff']});
            var id = this.value;
            var is_open = obj.elem.checked === true ? 1 : 0;
            $.post(request_url2 + 'systemSet', {
                id: id,
                status: is_open,
                doing: 'paymentStatus'
            }, function (res) {
                layer.close(loading);
                console.log(res)
                if (res.status == 1) {
                    layer.msg(res.msg, {time: 1000, icon: 1}, function () {
                        myTable.reload()
                    });
                } else {
                    layer.msg(res.msg, {time: 1000, icon: 2});
                    return false;
                }
            }, 'json')
        });
        table.on('tool()', function (obj) {
            console.log(obj)
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('你确定要删除吗？', function (index) {
                    $.ajax({
                        type: 'POST',
                        url: request_url2 + 'systemSet',
                        dataType: "json",
                        data: {
                            doing: 'deletePayment',
                            id: data.id
                        },
                        success: function (res) {
                            if (res.code == 0) {
                                obj.del();
                                layer.msg(res.msg)
                            } else {
                                layer.msg(res.msg)
                            }
                        }
                    })
                });
            }
        });
    });
    //收放事件
    $('.btn-minimize').click(function (e) {
        e.preventDefault();
        var $target = $(this).parent().parent().next('.box-content');
        if ($target.is(':visible')) $('i', $(this)).removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
        else $('i', $(this)).removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
        $target.slideToggle();
    });
    function windowClose(msg) {
        myTable.reload()
    }
    function Del() {
        var data = {};
        var cid = GetSelectedDatas(selectRows);
        if (cid == "") {
            layer.alert('未选中任何数据', {
                icon: 7,
                skin: 'layer-ext-moon'
            })
            return false;
        }
        if (confirm("删除会同时删除该类别的问题信息，确定删除吗？")) {
            data.cid = cid;
            data.TypeID = type;
            AjaxSubmit("/Customer/DelQuestionType", data, callBack, "del");
        }
    }

    function updateMore() {
        var data = {};
        // var cid = GetSelectValues();
        var cid =GetSelectedDatas(selectRows);

        if (cid == "") {
            layer.alert('未选中任何数据', {
                icon: 7,
                skin: 'layer-ext-moon'
            })
            return false;
        }
        if (cid.indexOf(',') > -1) {
            var array = cid.split(',');
            var id = 0, name = "", isshow = ""
            var msg = "";
            for (x in array) {
                id = array[x];
                name = $('.TypeName_' + id).text();
                isshow = $('.IsShow_' + id).text();
                if (name == "") {
                    msg += "ID(" + id + ")名称不能为空\n";
                    break;
                }

                if (isshow == "") {
                    msg += "ID(" + id + ")是否显示不能为空\n";
                    break;
                }
                if (isshow == "是")
                    isshow = "True"
                else if (isshow == "否")
                    isshow = "False"
                else {
                    msg += "ID(" + id + ")是否显示只能为是否\n";
                    break;
                }
                $.ajax({
                    type: "POST",
                    url: "/Customer/DoQuestionTypeInfo",
                    async: false,
                    data: {ID: id, TypeName: name, IsShow: isshow, Mode: 'edit', TypeID: type},
                    dataType: 'json',
                    success: function (data) {
                        var result = eval(data);
                        if (result.IsOk) {
                            msg += "ID(" + id + ")编辑成功\n"
                        } else {
                            msg += "ID(" + id + ")" + result.Msg
                        }
                    }
                })
            }
            alert(msg);
        } else {
            update(cid);
        }
    }

    function update(id) {
        var name = $('.TypeName_' + id).text();
        var isshow = $('.IsShow_' + id).text();

        if (name == "") {
            alert("名称不能为空");
            return false;
        }

        if (isshow == "") {
            alert("是否显示不能为空");
            return false;
        }
        if (isshow == "是")
            isshow = "True"
        else if (isshow == "否")
            isshow = "False"
        else {
            alert("是否显示只能为是否");
            return false;
        }
        var data = {ID: id, TypeName: name, IsShow: isshow, Mode: 'edit', TypeID: type};
        AjaxSubmit("/Customer/DoQuestionTypeInfo", data, callBack, "update");

    }

    //回调函数
    function callBack(jsonData, fname) {
        switch (fname) {
            case "update":
                alert(jsonData.Msg);
                break;
            case "del":
                alert(jsonData.Msg);
                location.reload();
                break;
        }
    }
</script>
</body>
</html>
