<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>推广系统 - 领取设置</title>
    <link href="../Content/Admin/css/bootstrap-cerulean.min.css" rel="stylesheet"/>
    <link href="../Content/Admin/css/charisma-app.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../Content/layui-v2.5.4/layui/css/layui.css">
    <link href="../Content/common.css" rel="stylesheet"/>
    <style>
        .panel-body .row {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .panel-body .row div:first-child {
            min-width: 150px;
            text-align: right;
        }

        .layui-input-block {
            min-height: 36px;
            line-height: 36px;
        }

        .panel-body input[type='text'] {
            text-align: center;
        }

        body {
            overflow-y: scroll !important;
        }
    </style>
</head>
<body>
<div id="content" class="main-content" v-cloak>
    <div class="">
        <div class="carousel box-inner">
            <div class="box-header well clearfix" data-original-title="">
                <h2><i class="glyphicon glyphicon-hand-right"></i>目前操作功能：推广系统 - 领取设置</h2>
            </div>
            <div class="tab-content padding-margin-0">

                <div class="panel panel-info no-bord">

                    <div class="panel-heading no-bord-radio">
                        <h3 class="panel-title">领取设置</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">系统是否开启：</div>
                            <div class="col-xs-6 col-md-6">
                                <input type="checkbox" class="fxk" name="checkbox" id="systemSwitch"
                                       value="1" v-model="info.IsOpen"/>开启
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-md-1">每周开放日期：</div>
                            <div class="col-xs-6 col-md-8" id="opdayTD">
                                <input type="checkbox" class="fxk" name="checkbox" value="1" id="w1"/>周一
                                <input type="checkbox" class="fxk" name="checkbox" value="2" id="w2"/>周二
                                <input type="checkbox" class="fxk" name="checkbox" value="4" id="w3"/>周三
                                <input type="checkbox" class="fxk" name="checkbox" value="8" id="w4"/>周四
                                <input type="checkbox" class="fxk" name="checkbox" value="16" id="w5"/>周五
                                <input type="checkbox" class="fxk" name="checkbox" value="32" id="w6"/>周六
                                <input type="checkbox" class="fxk" name="checkbox" value="64" id="w7"/>周日
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-md-1">开放时段：</div>
                            <div class="col-xs-3 col-md-3">
                                <input name="Shour" type="text" class="x5" id="openTime1" value=""
                                       v-model="info.Shour"
                                       v-validate="'required|numeric|min_value:0|max_value:24'"
                                />--
                                <input name="Ehour" type="text" class="x5" id="openTime2" value=""
                                       v-model="info.Ehour"
                                       v-validate="'required|numeric|min_value:0|max_value:24'"
                                />
                                <span class="wrong" v-show="errors.has('Shour') || errors.has('Ehour')"> 开放时段取值在：0-24</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-md-1">最低领取金额：</div>
                            <div class="col-xs-2 col-md-2">
                                <input name="minBalance" class="x5" type="text" id="leastScore" value=""
                                       v-model="info.MinBalance"
                                       v-validate="'required|decimal:0|min_value:1'"
                                />
                                金币
                                <span class="wrong" v-show="errors.has('minBalance')">最低领取金额不合法</span>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <ul class="list-inline">
                                <li><a class="btn btn-outline-success search btn-md" href="#" @click="Save"><i
                                        class="glyphicon glyphicon-save"></i>保存</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../Scripts/jquery-1.10.2.min.js"></script>
<script src="../Scripts/comm.js"></script>
<script src="../Content/layui-v2.5.4/layui/layui.js"></script>
<script src="../Scripts/vue.min.js"></script>
<script src="../Content/veevalidate/vee-validate.js"></script>
<script src="../Content/veevalidate/zh_CN.js"></script>
<script src="../Content/veevalidate/config.js"></script>
<script type="text/javascript">
    layui.use(['layer', function () {
        var layer = layui.layer
    }]);
    var myVue = new Vue({
        el: '#content',
        data: {
            info: {},
            weekData: [],
        },
        mounted: function () {
            var that = this;
            //获取显示的信息
            $.ajax({
                type: 'POST',
                url: qp_url + 'admin/Promoter/getTradeSetInfo?token='+getStorage('token'),
                dataType: 'json',
                success: function (res) {
                    if (res.status == 1) {
                        that.info = res.data[0]
                        let totl = res.data[0].WeekOpenDay
                        let temp = []
                        for (var i = 6; i >= 0; i--) {
                            if (totl - Math.pow(2, i) >= 0) {
                                totl -= Math.pow(2, i)
                                temp.push(Math.pow(2, i))
                                $("#w" + (i + 1)).prop("checked", true);
                            }
                        }
                        that.weekData = temp
                    }
                }
            })
        },
        methods: {
            Save: function () {
                var openDate = 0;
                $("#opdayTD").children().each(function (i) {
                    var _this = $(this);
                    if (_this.prop("checked")) {
                        openDate |= _this.val()
                    }
                });
                this.info['WeekOpenDay'] = openDate
                this.info['ID'] = 2
                this.info.IsOpen =  this.info.IsOpen ? 1 : 0
                this.$validator.validate().then(valid => {
                    console.log(valid)
                    if (valid) {
                        $.ajax({
                            type: 'POST',
                            url: qp_url + 'admin/trade/UpdateTradeSet?token='+getStorage('token'),
                            data: this.info,
                            dataType: 'json',
                            success: function (res) {
                                layer.msg(res.msg, {time: 1000, icon: res.status ? 1 : 2})
                            }
                        })
                    } else {
                        layer.msg('输入数据不合法', {time: 1000, icon: 2})
                    }
                })
            }
        }
    })
</script>
</body>
</html>
