<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>异常管理 - 金币异常玩家</title>
    <link href="../Content/Admin/css/bootstrap-cerulean.min.css" rel="stylesheet"/>
    <link href="../Content/Admin/css/charisma-app.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../Content/layui-v2.5.4/layui/css/layui.css">
<!--    <link href="../Content/jquery-ui-1.10.3.custom.min.css" rel="stylesheet"/>-->
    <link href="../Content/common.css" rel="stylesheet"/>
    <style type="text/css">
        body {
            overflow-y: scroll !important;
        }
    </style>
</head>
<body>
<div id="content" class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-hand-right"></i> 你当前位置：异常管理 - 金币异常玩家 </h2>
                    <div class="box-icon">
                        <a href="#" class="btn btn-round btn-default" onclick="history.go(0);">
                            <i class="glyphicon glyphicon-repeat"></i>
                        </a>
                        <a href="#" class="btn btn-minimize btn-round btn-default">
                            <i class="glyphicon glyphicon-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <!--查询栏结束-->
                <div class="box-content" style="overflow: hidden; display: block;">
                    <!--查询栏开始-->
                    <div class="alert alert-info">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <ul class="list-inline cursor-style">
                                    <li>
                                        查询日期：
                                        <input id="txtStartDate" class="input-width-150" type="text"
                                               readonly="readonly" value=""/>至
                                        <input type="text" id="txtEndDate" class="input-width-150"
                                               readonly="readonly" value=""/>
                                    </li>
                                    <li><a class="btn btn-outline-success search" href="#" id="btnquery"><i
                                            class="glyphicon glyphicon-zoom-in icon-white"></i>查询</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--查询栏结束-->
                    <!--table开始-->
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper table-center" role="grid">
                        <table style="display: none" id="layTable" lay-filter="test"></table>
                    </div>
                    <!--table结束-->
                </div>
            </div>
        </div>
    </div>
    <script src="../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../Scripts/comm.js"></script>
    <!--    <script src="../Scripts/pagination.js"></script>-->
    <script src="../Content/laydate/laydate.js"></script>
    <script src="../Content/layui-v2.5.4/layui/layui.js"></script>
<!--    <script src="../Scripts/jquery-ui-1.10.3.custom.min.js"></script>-->
    <script type="text/javascript">
        var pageObj = {};
        var postData = {};//搜索条件
        var table,layer;
        $(document).ready(function () {
            laydate.render({
                elem: '#txtStartDate'
                , type: 'datetime'
                , value: new Date(Time.today().StartDate)
                , format: 'yyyy-MM-dd'
                , theme: '#00B4E5'
            });
            laydate.render({
                elem: '#txtEndDate'
                , type: 'datetime'
                , value: new Date(Time.today().EndDate)
                , theme: '#00B4E5'
            });
        });
        layui.use(['table','layer'], function () {
            table = layui.table;
            layer = layui.layer;
            //第一个实例
            table.render({
                elem: '#layTable'
                , id: 'layTable'
                // , height: 512
                , url: qp_url + 'admin/abnormal/GetExceptionList' //数据接口
                , where: {
                    StartDate: Time.today().StartDate,
                    EndDate: Time.today().EndDate,//默认当天的数据
                    order: '',
                    sort: '',
                    token: getStorage('token')
                }
                , request: {
                    pageName: 'pageIndex' //页码的参数名称，默认：page
                    , limitName: 'pageSize' //每页数据量的参数名，默认：limit
                }
                , response: { //res 即为原始返回的数据
                    statusName: 'status',
                    statusCode: 1,
                },
                parseData: function (res) {
                    console.log(res)
                    return {
                        "status": res.status, //解析接口状态
                        "msg": res.msg, //解析提示文本
                        // "count": res.data.length, //解析数据长度 ,需要数据库返回
                        "data": res.data //解析数据列表
                    };
                }
                , page: false
                , cellMinWidth: 120
                , cols: [[ //表头
                    {field: 'GameID', title: '玩家ID'}
                    , {
                        field: 'Accounts', title: '玩家账号', templet: function (d) {
                            return `<div style="color:#${d.UserType == 0 ? '555555' : colors[d.UserType - 1]}">${d.Accounts}</div>`
                        }
                    }
                    , {field: 'TotalScore', title: '总输赢', sort: true}
                    , {field: 'ScoreSort', title: '涨幅金额', sort: true}
                    , {
                        field: '', title: '详细金币变化', templet: function (d) {
                            return `<span class="layui-btn layui-btn-xs layui-btn-normal" onclick="openWindowOwn('Abnormal/AccountScoreDetail.html?stTime='+$(\'#txtStartDate\').val()+'&endTime='+$(\'#txtEndDate\').val()+'&account=${d.Accounts}&nick=${d.NickName}&userid=${d.UserID}','详细金币变化',850,600);">详细金币变化</span>`
                        }
                    }
                ]]
                , done: function (res, curr, count) {
                    $('th').css({'text-align': 'center'});
                }
            });
            table.on('sort(test)', function (obj) {
                console.log(obj);
                table.reload('layTable', {
                    // initSort: obj, //记录初始排序，如果不设的话，将无法标记表头的排序状态。
                    where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                        // token: getStorage('token'),
                        StartDate: $("#txtStartDate").val(),
                        EndDate: $("#txtEndDate").val(),//默认当天的数据
                        sort: obj.type,
                        order: obj.field
                    }
                    , autoSort: false
                });
            });
        });

        $(document).on('click', '#btnquery', function () {
            var txtStartDate = $("#txtStartDate").val();
            var txtEndDate = $("#txtEndDate").val();
            if (txtStartDate != "" && txtEndDate != "") {
                if (StrToDateTime(txtEndDate) < StrToDateTime(txtStartDate)) {
                    layer.alert("开始日期不能大于结束时间");
                    return false;
                }
            }else{
                layer.alert("开始/结束日期不能为空！");
                return false;
            }
            postData.StartDate = txtStartDate;
            postData.EndDate = txtEndDate;
            postData.sort = '';
            postData.order = '';
            table.reload('layTable', {
                where: postData
            })
        })
    </script>
</div>
</body>
</html>
