<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>后台管理-限制字符</title>
    <link href="../Content/Admin/css/bootstrap-cerulean.min.css" rel="stylesheet"/>
    <link href="../Content/Admin/css/charisma-app.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../Content/layui-v2.5.4/layui/css/layui.css">
    <link href="../Content/common.css" rel="stylesheet"/>
    <style type="text/css">
        body {
            overflow-y: scroll !important;
        }
    </style>
</head>
<body class="backgroud">
<div id="content" class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-hand-right"></i> 你当前位置：后台管理-限制字符 </h2>
                    <div class="box-icon">
                        <a href="#" class="btn btn-round btn-default" onclick="history.go(0);">
                            <i class="glyphicon glyphicon-repeat"></i>
                        </a>
                        <a href="#" class="btn btn-minimize btn-round btn-default">
                            <i class="glyphicon glyphicon-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="box-content" style="overflow: hidden; display: block;">
                    <!--查询栏开始-->
                    <div class="alert alert-info">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <ul class="list-inline cursor-style">
                                    <li>普通查询：</li>
                                    <li>
                                        <input type="text" placeholder="" id="txtSearch"
                                               class="form-control input-sm input-width-238">
                                    </li>
                                    <li style="display: none"><input class="margin-5" name="ckitem" type="checkbox" value="0" id="ckbIsLike"/><label
                                            for="ckbIsLike">模糊查询</label></li>
                                    <li>
                                        <a id="btnQuery" class="btn btn-outline-success search" href="#"><i
                                                class="glyphicon glyphicon-zoom-in icon-white"></i>查询</a>
                                    </li>
                                    <li>
                                        <a href="#" class="btn btn-blue" onclick="history.go(0);"><i
                                                class="glyphicon glyphicon-repeat"></i>刷新</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                    <!--查询栏结束-->
                    <div class="row">
                        <div class="col-md-12" style="padding-bottom:5px; padding-top:5px; text-align:right;">
                            <a class="btn btn-outline-success" href='add/ConfineContenInfo.html?param=add?id=0'>
                                <i class="glyphicon glyphicon-plus icon-white"></i>新增
                            </a>
                            <button type="button" class="btn btn-danger" onclick="Del(0)"><i
                                    class="glyphicon glyphicon-trash icon-white"></i>删除
                            </button>
                        </div>
                    </div>
                    <!--table开始-->
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper table-center" role="grid">
                        <table id="layTable" lay-filter="test"></table>
                        <table style="display: none"
                               class="table table-striped table-bordered bootstrap-datatable datatable responsive dataTable"
                               id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                            <thead>
                            <tr role="row">
                                <th><input name="ckall" type="checkbox" value="" onclick="SelectAll(this,'cid')"/></th>
                                <th>序号</th>
                                <th>管理</th>
                                <th>限制字符</th>
                                <th>失效时间</th>
                                <th>录入时间</th>
                            </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all"></tbody>
                        </table>
                        <!--分页控件-->
                        <div class="row">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6">
                                <div class="dataTables_paginate paging_bootstrap pagination" style="float:right;">
                                    <ul class="pagination" id="pagin"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--table结束-->
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="barDemo">
    <span class="layui-btn layui-btn-normal layui-btn-xs" onclick="window.open('add/ConfineContenInfo.html?param=edit&str={{d.String}}&date={{d.EnjoinOverDate}}&id={{d.ContentID}}','_self')"
          lay-event="edit">更新</span>
    <span class="layui-btn layui-btn-warm layui-btn-xs" onclick="Del({{d.ContentID}})">删除</span>
</script>
<script src="../Scripts/jquery-1.10.2.min.js"></script>
<script src="../Scripts/comm.js"></script>
<script src="../Content/laydate/laydate.js"></script>
<script src="../Scripts/pagination.js"></script>
<script src="../Content/layui-v2.5.4/layui/layui.js"></script>
<script type="text/javascript">
    var pageObj = {};
    var postData = {};//搜索条件
    $(document).ready(function () {
        docReady();
    });
    //使用layui的数据表格，需要定义一个全局变量存储选中行的数据
    var selectRows = [], table;
    layui.use('table', function () {
        table = layui.table;
        //第一个实例
        table.render({
            elem: '#layTable'
            , id: 'layTable'
            // , height: 512
            , url: qp_url + 'admin/Account/GetConfineContentList?token='+getStorage('token') //数据接口
            , request: {
                pageName: 'pageIndex' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , response: { //res 即为原始返回的数据
                statusName: 'status',
                statusCode: 1,
                // msgName: 'msg',
                // dataName: 'data',
            },
            parseData: function (res) {
                console.log(res)
                return {
                    "status": res.status, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析数据长度 ,需要数据库返回
                    "data": res.data.data //解析数据列表
                };
            }
            , page: {
                'theme': '#2D2D3C'
            } //开启分页
            , limits: [10, 20, 30, 50, 80, 100]
            , limit: 10
            , cols: [[ //表头
                {type: 'checkbox'}
                , {type: 'numbers', title: '序号'}
                , {field: '', title: '管理', toolbar: '#barDemo'}
                , {field: 'String', title: '限制字符'}
                , {field: 'EnjoinOverDate', title: '失效时间'}
                , {field: 'CollectDate', title: '录入时间'}
            ]]
            , done: function (res, curr, count) {
                $('th').css({'text-align': 'center'});
            }

        });
        //监听复选框选择事件
        table.on('checkbox(test)', function (obj) {
            var checkStatus = table.checkStatus('layTable'); //idTest 即为基础参数 id 对应的值
            selectRows = checkStatus.data
        });
    });

    function docReady() {
        //加载数据
        // postData.pageSize = parseInt($("#pagecount").val());
        postData.Sort = "";
        // postData.pageIndex = 1;
        postData.token = getUrlParams('token')
        // AjaxSearch(postData);
        // //收放事件
        // $('.btn-minimize').click(function (e) {
        //     e.preventDefault();
        //     var $target = $(this).parent().parent().next('.box-content');
        //     if ($target.is(':visible')) $('i', $(this)).removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
        //     else $('i', $(this)).removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
        //     $target.slideToggle();
        // });
        //选择页码
        // $("#pagecount").change(function (e) {
        //     postData.pageSize = parseInt($(this).val());
        //     postData.pageIndex = 1;
        //     AjaxSearch(postData);
        // });
        // //刷新
        // $("#btnRefresh").click(function (e) {
        //     postData.KeyWord = $("#txtSearch").val();
        //     postData.IsLike = $('#ckbIsLike').is(':checked') ? 1 : 0;
        //     AjaxSearch(postData);
        // });
        //普通搜索事件
        $("#btnQuery").click(function (e) {
            var keyWord = $("#txtSearch").val();
            if (keyWord == "") {
                layer.alert("请输入查询条件");
                return false;
            }
            // postData.pageSize = parseInt($("#pagecount").val());
            // postData.IsLike = $('#ckbIsLike').is(':checked') ? 1 : 0;
            postData.IsLike = 1;
            postData.KeyWord = keyWord;
            table.reload('layTable', {
                where: postData,
                page: {
                    curr: 1
                }
            })
            // AjaxSearch(postData);
        });
    }

    //搜索事件
    function AjaxSearch(postData) {
        $('#pagin').paging("/Account/GetConfineContentList", postData, CreatTableBody, postData.pageIndex);
    }

    function Del(id) {
        var data = {
            token: getStorage('token')
        };
        if (parseInt(id) <= 0) {
            // var cid = GetSelectValues();
            var cid = GetSelectedDatas(selectRows, 'ContentID');
            console.log(cid);
            if (cid == "") {
                layer.alert('未选中任何数据', {
                    icon: 7,
                    skin: 'layer-ext-moon'
                })
                return;
            }
            data['cid'] = cid;
        } else {
            data.cid = id;
        }
        if (data.cid != null) {
            layer.confirm('确定删除选中的数据吗？', {
                icon: 3,
                title: '提示',
                btn: ['确定', '取消']
            }, function (index) {
                $.ajax({
                    type: 'POST',
                    url: qp_url + 'admin/Account/DelConfineContent',
                    data: data,
                    dataType: 'json',
                    success: function (res) {
                        if (res.status == 1) {
                            layer.msg(res.msg, {time: 1000, icon: 1})
                            table.reload('layTable')
                        }else{
                            layer.msg(res.msg, {time: 1000, icon: 2})
                        }
                    }
                })
                layer.close(index);
            });
        }
    }

    //回调函数
    function callBack(jsonData, fname) {
        switch (fname) {
            case "del":
                alert(jsonData.Msg);
                location.reload();
                break;
        }
    }

    function StrToDateTime(timestr) {
        var dt = new Date(timestr.replace("-", "/").replace("-", "/"));
        return dt;
    }

    //绑定数据
    function CreatTableBody(jsondata, pageTotal, pageCount, pageIndex) {
        var html = "";
        if (jsondata != null && jsondata.length > 0) {
            $.each(jsondata, function (i, item) {
                html += stringFormat("<tr id=\"tr{0}\" class=\"odd\">", item.ContentID);
                html += stringFormat("<td style=\"width: 30px;\"><input name='cid' type='checkbox' value='{0}'/></td>", item.ContentID);
                html += stringFormat("<td>{0}</td>", item.SNO);
                html += stringFormat("<td>{0}</td>", item.String);
                html += stringFormat("<td>{0}</td>", item.EnjoinOverDate);
                html += stringFormat("<td>{0}</td>", item.CollectDate);
                html += "</tr>";
            });
        }
        $("#DataTables_Table_0_wrapper tbody").html(html);
        $("#DataTables_Table_0_info").html(stringFormat("显示 {0} 至 {1} 共 {2} 条", ((pageIndex - 1) * postData.pageSize + 1), ((pageIndex * postData.pageSize) < pageTotal ? (pageIndex * postData.pageSize) : pageTotal), pageTotal));
    }

    //字符串格式化
    function stringFormat() {
        if (arguments.length == 0)
            return null;
        var str = arguments[0];
        for (var i = 1; i < arguments.length; i++) {
            var re = new RegExp('\\{' + (i - 1) + '\\}', 'gm');
            str = str.replace(re, arguments[i]);
        }
        return str;
    }
</script>
</body>
</html>
