<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no" />
    <title>积分墙</title>
    <link rel="stylesheet" href="css/rest.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div class="wrap">
        <img src="img/zf_default@2x.png" class="icon">
        <p class="txt1">支付成功</p>
        <p class="nick">用户id:<%= data.userId %></p>
        <div class="money"><span>￥</span><span style="font-size: 0.96rem"><%= data.money %></span></div>
        <div class="btn" id="return">返回</div>
        <div id="order" style="display: none;"><%= data.order_number %></div>
    </div>
</body>
<script>
    document.getElementById("return").onclick = function () {
        window.location.href = "http://foundjoy.ltd/integralWall/view/taskManage.html?order_number=" + document.getElementById('order').innerHTML;
    }
</script>

</html>